<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 4.5.3
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->


<!-- Mirrored from www.keenthemes.com/preview/metronic/theme/admin_5/ui_colors.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 03 Jan 2016 18:34:45 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
	<meta charset="utf-8" />
	<title>Metronic | Color Library</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- BEGIN LAYOUT FIRST STYLES -->
	<link href="http://fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css" />
	<!-- END LAYOUT FIRST STYLES -->
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
	<link href="/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
	<link href="/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
	<link href="/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN THEME GLOBAL STYLES -->
	<link href="/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
	<link href="/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
	<!-- END THEME GLOBAL STYLES -->
	<!-- BEGIN THEME LAYOUT STYLES -->
	<link href="/layouts/layout5/css/layout.min.css" rel="stylesheet" type="text/css" />
	<link href="/layouts/layout5/css/custom.min.css" rel="stylesheet" type="text/css" />
	<!-- END THEME LAYOUT STYLES -->
	<link rel="shortcut icon" href="/favicon.ico" /> 

	<!-- BEGIN CORE PLUGINS -->
	<script src="/global/plugins/jquery.min.js" type="text/javascript"></script>
	<script src="/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/global/plugins/js.cookie.min.js" type="text/javascript"></script>
	<script src="/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
	<script src="/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
	<script src="/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
	<script src="/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
	<!-- END CORE PLUGINS -->
	<!-- BEGIN THEME GLOBAL SCRIPTS -->
	<script src="/global/scripts/app.min.js" type="text/javascript"></script>
	<!-- END THEME GLOBAL SCRIPTS -->
	<!-- BEGIN THEME LAYOUT SCRIPTS -->
	<script src="/layouts/layout5/scripts/layout.min.js" type="text/javascript"></script>
	<script src="/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
	<!-- END THEME LAYOUT SCRIPTS -->
</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo">
	<!-- BEGIN CONTAINER -->
	<div class="wrapper">
		<!-- BEGIN HEADER -->
		<header class="page-header">
			<nav class="navbar mega-menu" role="navigation">
				<div class="container-fluid">
					<div class="clearfix navbar-fixed-top">
						<!-- Brand and toggle get grouped for better mobile display -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="toggle-icon">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</span>
						</button>
						<!-- End Toggle Button -->
						<!-- BEGIN LOGO -->
						<a id="index" class="page-logo" href="index-2.html">
							<img src="/layouts/layout5/img/logo.png" alt="Logo"> </a>
							<!-- END LOGO -->
							<!-- BEGIN SEARCH -->
							<form class="search" action="http://www.keenthemes.com/preview/metronic/theme/admin_5/extra_search.html" method="GET">
								<input type="name" class="form-control" name="query" placeholder="Search...">
								<a href="javascript:;" class="btn submit">
									<i class="fa fa-search"></i>
								</a>
							</form>
							<!-- END SEARCH -->
							<!-- BEGIN TOPBAR ACTIONS -->
							<div class="topbar-actions">
								<!-- BEGIN USER PROFILE -->
								<div class="btn-group-img btn-group">
									<button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
										<span>Hi, Marcus</span>
										<img src="/layouts/layout5/img/avatar1.jpg" alt=""> </button>
										<ul class="dropdown-menu-v2" role="menu">
											<li>
												<a href="/user/profile/">
													<i class="icon-user"></i> My Profile
													<span class="badge badge-danger">1</span>
												</a>
											</li>
											<li>
												<a href="/calendar">
													<i class="icon-calendar"></i> My Calendar 
												</a>
											</li>
											<li>
												<a href="/inbox">
													<i class="icon-envelope-open"></i> My Inbox
													<span class="badge badge-danger"> 3 </span>
												</a>
											</li>
											<li>
												<a href="page_user_login_1.html">
													<i class="icon-key"></i> Log Out
												</a>
											</li>
										</ul>
									</div>
									<!-- END USER PROFILE -->
									<!-- BEGIN QUICK SIDEBAR TOGGLER -->
<!-- 										<button type="button" class="quick-sidebar-toggler" data-toggle="collapse">
											<span class="sr-only">Toggle Quick Sidebar</span>
											<i class="icon-logout"></i>
										</button> -->
										<!-- END QUICK SIDEBAR TOGGLER -->
									</div>
									<!-- END TOPBAR ACTIONS -->
								</div>
								<!-- BEGIN HEADER MENU -->
								<div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
									<ul class="nav navbar-nav">
										<li class="dropdown dropdown-fw <%if (typeof current_page!="undefined" && current_page =='find_job' ) { %>active open selected<% } %>">
											<a href="/find_job" class="text-uppercase">
												<i class="icon-magnifier"></i> Find A job 
											</a>
										</li>
										<li class="dropdown dropdown-fw <%if (typeof current_page!="undefined" && current_page =='advice' ) { %>active open selected<% } %>">
											<a href="/advice" class="text-uppercase">
												<i class="icon-social-youtube"></i> Career Advice 
											</a>
										</li>
										<li class="dropdown dropdown-fw <%if (typeof current_page!="undefined" && current_page =='sectors' ) { %>active open selected<% } %>">
											<a href="/sectors" class="text-uppercase">
												<i class="icon-layers"></i> sectors & Industries
											</a>
										</li>
										<li class="dropdown dropdown-fw <%if (typeof current_page!="undefined" && current_page =='recruiters' ) { %>active open selected<% } %>">
											<a href="/recruiters" class="text-uppercase">
												<i class="icon-users"></i> Recruiter A-z
											</a>
										</li>
										<li class="dropdown dropdown-fw <%if (typeof current_page!="undefined" && current_page =='events' ) { %>active open selected<% } %>">
											<a href="/events" class="text-uppercase">
												<i class="icon-magic-wand"></i> Events 
											</a>
										</li>
										<li class="dropdown dropdown-fw <%if (typeof current_page!="undefined" && current_page =='blogs' ) { %>active open selected<% } %>">
											<a href="/blogs">
												<i class="icon-note"></i> Blogs 
											</a>
										</li>
									</ul>
								</div>
								<!-- END HEADER MENU -->
							</div>
							<!--/container-->
						</nav>
					</header>
					<!-- END HEADER -->
					<div class="container-fluid">
						<div class="page-content" style="padding-top:10px">
							<!-- BEGIN BREADCRUMBS -->
							<div class="breadcrumbs">
								<!-- <h1>Color Library</h1> -->
						<!-- 		<ol class="breadcrumb">
									<li>
										<a href="#">Home</a>
									</li>
									<li>
										<a href="#">Features</a>
									</li>
									<li class="active">UI Features</li>
								</ol> -->
							</div>
							<!-- END BREADCRUMBS -->
							<!-- BEGIN PAGE BASE CONTENT -->
							<div>
