<option>Dhaka</option>
<option>Chittagong</option>
<option>Barisal</option>
<option>Khulna</option>
<option>Rajshahi</option>
<option>Mymensingh</option>
<option>Sylhet</option>
<option>Rangpur</option>