<div class="navbar navbar-default navbar-static-top" role = "navigation">
  <div class="container">
    <div class = "navbar-header">
      <button class = "navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class = "navbar-brand">Job Monkey</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class = "nav navbar-nav">
        <li>
          <a href="#"> Home </a>
        </li>
        <li class = "dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Job <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/job/create">Create</a></li>
          </ul>
        </li>
      </ul>
      <ul class = "nav navbar-nav navbar-right">
        <li>
          <a href="/user/signup"> Sign Up </a>
        </li>
        <li>
          <a href="/user/login"> Login </a>
        </li>
      </ul>
    </div>
  </div>
</div>
