<%include ./partials/header.ejs %>
<!--end site header-->
<div class="row">
	<div class="col-md-4">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-speech"></i>
					<span class="caption-subject bold uppercase">Ask Careercake Episode 3</span>
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-pencil"></i> Edit 
					</a>
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-trash"></i> Delete 
					</a>
					<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height:500px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
					<iframe width="100%" style="position:absolute; height:100%" src="https://www.youtube.com/embed/MVQPiY_gwFc" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
	<div class="col-md-4">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="icon-share font-green-sharp"></i>
					<span class="caption-subject bold uppercase">Ask Careercake Episode 4</span>
					<span class="caption-helper">monthly stats...</span>
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-pencil"></i> Edit 
					</a>
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-trash"></i> Delete 
					</a>
					<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height:500px" data-always-visible="1" data-rail-visible="1" data-rail-color="red" data-handle-color="green">
					<iframe width="100%" style="position:absolute; height:100%" src="https://www.youtube.com/embed/MVQPiY_gwFc" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
	<div class="col-md-4">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="icon-share font-green-sharp"></i>
					<span class="caption-subject bold uppercase">Ask Careercake Episode 5</span>
					<span class="caption-helper">monthly stats...</span>
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-pencil"></i> Edit 
					</a>
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-trash"></i> Delete 
					</a>
					<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height:500px" data-always-visible="1" data-rail-visible="1" data-rail-color="red" data-handle-color="green">
					<iframe width="100%" style="position:absolute; height:100%" src="https://www.youtube.com/embed/MVQPiY_gwFc" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>

</div>
<div class="row">
	<div class="col-md-4">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-speech"></i>
					<span class="caption-subject bold uppercase">Ask Careercake Episode 3</span>
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-pencil"></i> Edit 
					</a>
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-trash"></i> Delete 
					</a>
					<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height:500px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
					<iframe width="100%" style="position:absolute; height:100%" src="https://www.youtube.com/embed/MVQPiY_gwFc" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
	<div class="col-md-4">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="icon-share font-green-sharp"></i>
					<span class="caption-subject bold uppercase">Ask Careercake Episode 4</span>
					<span class="caption-helper">monthly stats...</span>
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-pencil"></i> Edit 
					</a>
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-trash"></i> Delete 
					</a>
					<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height:500px" data-always-visible="1" data-rail-visible="1" data-rail-color="red" data-handle-color="green">
					<iframe width="100%" style="position:absolute; height:100%" src="https://www.youtube.com/embed/MVQPiY_gwFc" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
	<div class="col-md-4">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="icon-share font-green-sharp"></i>
					<span class="caption-subject bold uppercase">Ask Careercake Episode 5</span>
					<span class="caption-helper">monthly stats...</span>
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-pencil"></i> Edit 
					</a>
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-trash"></i> Delete 
					</a>
					<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height:500px" data-always-visible="1" data-rail-visible="1" data-rail-color="red" data-handle-color="green">
					<iframe width="100%" style="position:absolute; height:100%" src="https://www.youtube.com/embed/MVQPiY_gwFc" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>

</div>

<div class="row">
	<div class="col-md-4">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-speech"></i>
					<span class="caption-subject bold uppercase">Ask Careercake Episode 3</span>
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-pencil"></i> Edit 
					</a>
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-trash"></i> Delete 
					</a>
					<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height:500px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
					<iframe width="100%" style="position:absolute; height:100%" src="https://www.youtube.com/embed/MVQPiY_gwFc" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
	<div class="col-md-4">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="icon-share font-green-sharp"></i>
					<span class="caption-subject bold uppercase">Ask Careercake Episode 4</span>
					<span class="caption-helper">monthly stats...</span>
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-pencil"></i> Edit 
					</a>
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-trash"></i> Delete 
					</a>
					<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height:500px" data-always-visible="1" data-rail-visible="1" data-rail-color="red" data-handle-color="green">
					<iframe width="100%" style="position:absolute; height:100%" src="https://www.youtube.com/embed/MVQPiY_gwFc" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
	<div class="col-md-4">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="icon-share font-green-sharp"></i>
					<span class="caption-subject bold uppercase">Ask Careercake Episode 5</span>
					<span class="caption-helper">monthly stats...</span>
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-pencil"></i> Edit 
					</a>
					<a href="javascript:;" class="btn btn-circle btn-default">
						<i class="fa fa-trash"></i> Delete 
					</a>
					<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height:500px" data-always-visible="1" data-rail-visible="1" data-rail-color="red" data-handle-color="green">
					<iframe width="100%" style="position:absolute; height:100%" src="https://www.youtube.com/embed/MVQPiY_gwFc" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>

</div>


<%include ./partials/footer.ejs %>
