<%include ./partials/header.ejs %>
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="../pages/css/profile.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="../global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
<link href="../global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css"/>
<script src="http://pdfobject.com/scripts/pdfobject.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet bordered">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="/user_images/<%= user.user_image %>" class="img-responsive" alt=""> </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name"><%= user.first_name + ' ' + user.last_name %> </div>
                        <div class="profile-usertitle-job"> Job Seeker </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <!-- <button type="button" class="btn btn-circle green btn-sm">Follow</button> -->
                        <a href="/inbox" class="btn btn-circle red btn-sm">Inbox</a>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                          <li>
                            <a href="/user/profile">
                              <i class="icon-home"></i> Your overall activity 
                          </a>
                      </li>
                      <li  class="active">
                        <a href="/user/edit_profile">
                          <i class="icon-settings"></i> Edit Profile Information
                      </a>
                  </li>
                  <li>
                    <a href="/user/skills/<%= user._id %>">
                      <i class="icon-info"></i> Skills and Qualifications 
                  </a>
              </li>
          </ul>
      </div>
      <!-- END MENU -->
  </div>
  <!-- END PORTLET MAIN -->
  <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-cursor font-dark hide"></i>
          <span class="caption-subject font-dark bold uppercase">Profile Strength</span>
      </div>
      <div class="actions">
        <a href="javascript:;" data-toggle="modal" data-target="#info_modal" class="btn btn-sm btn-default btn-circle easy-pie-chart-reload">
            <i class="fa fa-info"></i> Info </a>
        </div>
    </div>
    <div class="portlet-body" style="height:112px">
      <div class="row">
        <div class="col-md-12">
          <div class="easy-pie-chart">
            <div class="number transactions" data-percent="55">
              <span>Gamma(γ)</span>
          </div>
      </div>
  </div>      
</div>
</div>
</div>
<!-- PORTLET MAIN -->
<div class="portlet light bordered">
    <!-- STAT -->
    <div class="row list-separated profile-stat">
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="uppercase profile-stat-title"> 37 </div>
            <div class="uppercase profile-stat-text"> Projects </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="uppercase profile-stat-title"> 51 </div>
            <div class="uppercase profile-stat-text"> Tasks </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="uppercase profile-stat-title"> 61 </div>
            <div class="uppercase profile-stat-text"> Uploads </div>
        </div>
    </div>
    <!-- END STAT -->
    <div>
        <div class="margin-top-20 profile-desc-link">
            <i class="fa fa-globe"></i>
            <a href="http://www.keenthemes.com">www.keenthemes.com</a>
        </div>
        <div class="margin-top-20 profile-desc-link">
            <i class="fa fa-twitter"></i>
            <a href="http://www.twitter.com/keenthemes/">@keenthemes</a>
        </div>
        <div class="margin-top-20 profile-desc-link">
            <i class="fa fa-facebook"></i>
            <a href="http://www.facebook.com/keenthemes/">keenthemes</a>
        </div>
    </div>
</div>
<!-- END PORTLET MAIN -->
</div>
<!-- END BEGIN PROFILE SIDEBAR -->
<!-- BEGIN PROFILE CONTENT -->
<div class="profile-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Edit Profile</span>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                        </li>
                        <li>
                            <a href="#tab_1_4" data-toggle="tab">Account Information</a>
                        </li>
                        <li>
                            <a href="#tab_1_2" data-toggle="tab">Change Avatar</a>
                        </li>
                        <li>
                            <a href="#tab_1_3" data-toggle="tab">Change Password</a>
                        </li>
                        <li>
                            <a href="#tab_1_5" data-toggle="tab">CV Upload</a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <!-- PERSONAL INFO TAB -->
                        <div class="tab-pane" id="tab_1_5">
                            <div class="portlet box purple">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i>Portlet 
                                    </div>
                                    <div class="actions">
                                        <a href="javascript:;" class="btn yellow">
                                            <i class="fa fa-pencil"></i> Delete CV 
                                        </a>
                                        <a href="#cv_modal" data-toggle="modal" data-target="#cv_modal" class="btn green">
                                            <i class="fa fa-plus"></i> Add new CV 
                                        </a>
                                    </div>
                                </div>
                                <div id="pdf" style="height:750px" class="portlet-body">
                                    It appears you don't have Adobe Reader or PDF support in this web browser. <a href="http://www.nwu.ac.za/files/images/Basic_Curriculum_Vitae_example.pdf">Click here to download the PDF</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active" id="tab_1_1">
                            <form role="form" action="#">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">First Name</label>
                                            <input type="text" placeholder="Adnan" class="form-control" /> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Last Name</label>
                                            <input type="text" placeholder="Nuruddin" class="form-control" /> 
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Birth date</label>
                                            <input type="text" class="date-picker form-control" rows="3" value="06/05/2001" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Gender</label>
                                            <select class="form-control" name="gender">
                                                <option>Male</option>
                                                <option>Female</option>
                                                <option>Others</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Nationality</label>
                                            <input type="text" placeholder="Bangladeshi" class="form-control" /> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">National ID</label>
                                            <input type="number" placeholder="6544655548745456554" class="form-control" /> 
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Present Address</label>
                                            <textarea class="form-control" rows="3" placeholder="177, East Kafrul Dhaka Cantonment, Dhaka 1206"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Permanent Address</label>
                                            <textarea class="form-control" rows="3" placeholder="144/B, Road No. 22, Mohakhali DOHS"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">About</label>
                                    <textarea class="form-control" rows="3" placeholder="I am here."></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Religion</label>
                                    <select class="form-control">
                                        <option>Islam</option>
                                        <option>Christianity</option>
                                        <option>Hinduism</option>
                                        <option>Buddhism</option>
                                        <option>Sikhism</option>
                                        <option>Judaism</option>
                                        <option>Others</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Mobile/Phone Number</label>
                                    <input type="text" placeholder="+8801680428996" class="form-control" /> 
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Facebook Url</label>
                                            <input type="text" placeholder="https://www.facebook.com/AdnanNuruddin" class="form-control" /> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Twitter Url</label>
                                            <input type="text" placeholder="https://twitter.com/AdnanNuruddin" class="form-control" /> 
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Linkedin Url</label>
                                            <input type="text" placeholder="https://www.linkedin.com/in/adnan-nuruddin-592049116" class="form-control" /> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Personal Website Url</label>
                                            <input type="text" placeholder="http://www.mywebsite.com" class="form-control" /> 
                                        </div>
                                    </div>
                                </div>
                                <div class="margiv-top-10">
                                    <a href="javascript:;" class="btn green"> Save Changes </a>
                                </div>
                            </form>
                        </div>
                        <!-- END PERSONAL INFO TAB -->
                        <!-- CHANGE AVATAR TAB -->
                        <div class="tab-pane" id="tab_1_2">
                            <p> Change Your Profile Picture </p>
                            <form action="#" role="form">
                                <div class="form-group">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="/user_images/<%= user.user_image %>" alt="" /> 
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                        <div>
                                            <span class="btn default btn-file">
                                                <span class="fileinput-new"> Select image </span>
                                                <span class="fileinput-exists"> Change </span>
                                                <input type="file" name="..."> 
                                            </span>
                                            <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                        </div>
                                    </div>
                                    <div class="clearfix margin-top-10">
                                        <span class="label label-danger">NOTE! </span>
                                        <span> Only JPEG and PNG files are supported</span>
                                    </div>
                                </div>
                                <div class="margin-top-10">
                                    <a href="javascript:;" class="btn green"> Update Profile picture </a>
                                </div>
                            </form>
                        </div>
                        <!-- END CHANGE AVATAR TAB -->
                        <!-- CHANGE PASSWORD TAB -->
                        <div class="tab-pane" id="tab_1_3">
                            <form action="#">
                                <div class="form-group">
                                    <label class="control-label">Current Password</label>
                                    <input type="password" class="form-control" /> 
                                </div>
                                <div class="form-group">
                                    <label class="control-label">New Password</label>
                                    <input type="password" class="form-control" /> 
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Re-type New Password</label>
                                    <input type="password" class="form-control" /> 
                                </div>
                                <div class="margin-top-10">
                                    <a href="javascript:;" class="btn green"> Change Password </a>
                                </div>
                            </form>
                        </div>
                        <!-- END CHANGE PASSWORD TAB -->
                        <!-- PRIVACY SETTINGS TAB -->
                        <div class="tab-pane" id="tab_1_4">
                            <form role="form" action="#">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="email" placeholder="adnan.nuruddin@gmail.com" class="form-control" /> 
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Current Status</label>
                                    <select class="form-control" name="sttus">
                                        <option>Graduate Unemployed</option>
                                        <option>Graduate Employed</option>
                                        <option>Undergraduate Ongoing</option>
                                        <option>Postgraduate Ongoing</option>
                                    </select> 
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Preferred Sector</label>
                                    <select name="" class="form-control">
                                        <option>Accounting &amp; Finance</option>
                                        <option>Aerospace &amp; Defence</option>
                                        <option>Banking</option>
                                        <option>Business &amp; Management</option>
                                        <option>Charity &amp; Non-profit</option>
                                        <option>Construction &amp; Property</option>
                                        <option>Consultancy &amp; Strategy</option>
                                        <option>Consumer Goods &amp; FMCG</option>
                                        <option>Education &amp; Training</option>
                                        <option>Energy, Environmental &amp; Agriculture</option>
                                        <option>Engineering &amp; Manufacturing</option>
                                        <option>Hospitality &amp; Tourism</option>
                                        <option>HR &amp; Recruitment</option>
                                        <option>Insurance</option>
                                        <option>IT &amp; Telecommunications</option>
                                        <option>Legal</option>
                                        <option>Logistics &amp; Transport</option>
                                        <option>Marketing &amp; PR</option>
                                        <option>Media &amp; Publishing</option>
                                        <option>Medical &amp; Pharmaceutical</option>
                                        <option>Public Sector</option>
                                        <option>Retail, Buying &amp; Merchandising</option>
                                        <option>Sales</option>
                                        <option>Science &amp; Research</option>
                                    </select> 
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Preferred Industry</label>
                                    <select name="" class="form-control">
                                        <option>Agro based Industry</option>
                                        <option>Archi./Engg./Construction</option>
                                        <option>Automobile/Industrial Machine</option>
                                        <option>Bank/Non-Bank Fin. Institution</option>
                                        <option>Education</option>
                                        <option>Electronics/Consumer Durables </option>
                                        <option>Energy/Power/Fuel</option>
                                        <option>Garments/Textile</option>
                                        <option>Govt./Semi-Govt./Autonomous  </option>
                                        <option>Pharmaceuticals</option>
                                        <option>Hospital/ Diagnostic Center</option>
                                        <option>Airline/ Travel/ Tourism</option>
                                        <option>Manufacturing (Light Industry)</option>
                                        <option>Manufacturing (Heavy Industry)</option>
                                        <option>Hotel/Restaurant </option>
                                        <option selected="true">Information Technology (IT)</option>
                                        <option>Logistics/ Transportation </option>
                                        <option>Entertainment/ Recreation</option>
                                        <option>Media / Advertising/ Event Mgt.</option>
                                        <option>NGO/Development</option>
                                        <option>Real Estate/Development</option>
                                        <option>Wholesale/ Retail/ Export-Import</option>
                                        <option>Telecommunication</option>
                                        <option>Food &amp; Beverage Industry</option>
                                        <option>Security Service</option>
                                        <option>Fire, Safety &amp; Protection</option>
                                        <option>Others</option>
                                    </select> 
                                </div>
                                <div class="margiv-top-10">
                                    <a href="javascript:;" class="btn green"> Save Changes </a>
                                </div>
                            </form>

                        </div>
                        <!-- END PRIVACY SETTINGS TAB -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PROFILE CONTENT -->
</div>
</div>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<script src="../global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="../global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../pages/scripts/profile.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
window.onload = function (){
    var success = new PDFObject({ url: "http://www.nwu.ac.za/files/images/Basic_Curriculum_Vitae_example.pdf" }).embed("pdf");
    $(".date-picker").datepicker({
        orientation: "left",
        autoclose: !0
    })
};

var user_data = <%- JSON.stringify(user) %>;
</script>

<script type="text/javascript">
function easy_pie_chart() {
    if (!jQuery().easyPieChart) {
      console.log("Here");
      return;
  }

  $('.easy-pie-chart .number.transactions').easyPieChart({
      animate: 1000,
      size: 110,
      lineWidth: 10,
      scaleColor:  App.getBrandColor('blue'),
      barColor: App.getBrandColor('yellow')
  });

  $('.easy-pie-chart .number canvas').css('position', 'absolute');
  $('.easy-pie-chart .number canvas').css('left', '-13px');   
  $('.easy-pie-chart .number canvas').css('top', '-15px');   
}

jQuery(document).ready(function($) {
    easy_pie_chart();
});

</script>

<div class="modal fade in" id="cv_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add CV</h4>
            </div>
            <div class="modal-body"> 
                <div class="form-group">
                    <label class="control-label col-md-3">CV</label>
                    <div class="col-md-3">
                        <div class="fileinput fileinput-exists" data-provides="fileinput">
                            <div class="input-group input-large">
                                <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                    <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                    <span class="fileinput-filename"></span>
                                </div>
                                <span class="input-group-addon btn default btn-file">
                                    <span class="fileinput-new"> Select file </span>
                                    <input type="hidden" value="" name=""><input type="file" name="..."> 
                                </span>
                                <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn green">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="info_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="main_title">Information on AlphaGrads profile strength<span></h4>
            </div>
            <div class="modal-body">
                <p>
                    It's simply a indicator of the Profile Completeness section, designed to encourage AlphaGrads users to add as much self-curated data as possible.
                </p>
                <p>
                    You can achieve 'Alpha' status by:
                </p>
                <ol class="list-group">
                    <li class="list-group-item">1. Adding a profile photo</li>
                    <li class="list-group-item">2. Listing 2 or more positions you’ve held, in the experience section</li>
                    <li class="list-group-item">3. Having 5 or more different skills on your profile</li>
                    <li class="list-group-item">4. Writing a summary about yourself</li>
                    <li class="list-group-item">5. Filling out the Profile Information Completely</li>
                    <li class="list-group-item">6. Uploading a CV</li>
                    <li class="list-group-item">7. Attending atleast one alpha grads Event</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<%include ./partials/footer.ejs %>