<%include ./partials/header.ejs %>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="../global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="../global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="../global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="../global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
<link href="../global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
<link href="../global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css"/>
<link href="../global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->

<div class="row">
	<div class="col-md-12">
		<!-- Begin: life time stats -->
		<div class="portlet ">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-shopping-cart"></i>Event Lists</div>
					<div class="actions">
						<a class="btn btn-info" data-toggle="modal" href="#full">
							<i class="fa fa-plus"></i>
							<span class="hidden-xs">Add New Event </span>
						</a>
						<div class="btn-group">
							<a class="btn  btn-default dropdown-toggle" href="javascript:;" data-toggle="dropdown">
								<i class="fa fa-share"></i>
								<span class="hidden-xs"> Tools </span>
								<i class="fa fa-angle-down"></i>
							</a>
							<div class="dropdown-menu pull-right">
								<li>
									<a href="javascript:;"> Export to Excel </a>
								</li>
								<li>
									<a href="javascript:;"> Export to CSV </a>
								</li>
								<li>
									<a href="javascript:;"> Export to XML </a>
								</li>
								<li class="divider"></li>
								<a href="javascript:;"> Print Invoices </a>
							</li>
						</div>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-container">
					<div class="table-actions-wrapper">
						<span> </span>
						<select style="display:none" class="table-group-action-input form-control input-inline input-small input-sm">
							<option value="">Select...</option>
							<option value="publish">Publish</option>
							<option value="unpublished">Un-publish</option>
							<option value="delete">Delete</option>
						</select>
						<button style="display:none" class="btn btn-sm btn-success table-group-action-submit">
							<i class="fa fa-check"></i> Submit</button>
						</div>
						<table class="table table-striped table-bordered table-hover table-checkable" id="datatable_products">
							<thead>
								<tr role="row" class="heading">
									<th width="15%"> Banner </th>
									<th width="45%"> Event Summary </th>
									<th width="15%"> Even type </th>
									<th width="10%"> Duration </th>
									<th width="10%"> Location </th>
									<th width="5%">  Actions </th>
								</tr>
								<tr role="row" class="filter">
									<td>
										<input type="text" class="form-control form-filter input-sm" name="company" placeholder="Event name"> 
									</td>
									<td>
										<input type="text" class="form-control form-filter input-sm" name="details" placeholder="search keywords"> 
									</td>
									<td>
										<select name="product_category" class="form-control form-filter input-sm">
											<option value="">Event type</option>
										</select>
									</td>
									<td>
										<div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
											<input type="text" class="form-control form-filter input-sm" readonly name="product_created_from" placeholder="From">
											<span class="input-group-btn">
												<button class="btn btn-sm default" type="button">
													<i class="fa fa-calendar"></i>
												</button>
											</span>
										</div>
										<div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
											<input type="text" class="form-control form-filter input-sm" readonly name="product_created_to " placeholder="To">
											<span class="input-group-btn">
												<button class="btn btn-sm default" type="button">
													<i class="fa fa-calendar"></i>
												</button>
											</span>
										</div>
									</td>
									<td>
										<div class="margin-bottom-5">
											<input type="text" class="form-control form-filter input-sm" name="salary_from" placeholder="Location" /> 
										</div>
									</td>
									<td>
										<div class="margin-bottom-5">
											<button class="btn btn-sm btn-success filter-submit margin-bottom">
												<i class="fa fa-search"></i> Search
											</button>
										</div>
										<button class="btn btn-sm btn-default filter-cancel">
											<i class="fa fa-times"></i> Reset
										</button>
									</td>
								</tr>
							</thead>
							<tbody> </tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- End: life time stats -->
		</div>
	</div>

	<div class="modal fade" id="full" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-full">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h3 class="modal-title"><strong>Add New Event</strong></h3>
				</div>
				<div class="modal-body">
					<form action="#" id="event_form" class="form-horizontal">
						<div class="form-body">
							<div class="form-group">
								<label class="col-md-4 control-label">Event Name</label>
								<div class="col-md-5">
									<div class="input-group">
										<span class="input-group-addon -left">
											<i class="fa fa-pencil"></i>
										</span>
										<input type="text" class="form-control " placeholder="Event Name">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Starts At</label>
								<div class="col-md-5">
									<div class="input-group">
										<span class="input-group-addon -left">
											<i class="fa fa-calendar"></i>
										</span>
										<input type="date" class="form-control -right" placeholder="Last date of cv submission">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Ends At</label>
								<div class="col-md-5">
									<div class="input-group">
										<span class="input-group-addon -left">
											<i class="fa fa-calendar"></i>
										</span>
										<input type="date" class="form-control -right" placeholder="Last date of cv submission">
									</div>
								</div>
							</div>
							<div class="form-group" style="margin-top:25px">
								<label class="col-md-4 control-label">Event Summary</label>
								<div class="col-md-5">
									<div class="input-group">
										<span class="input-group-addon -left">
											<i class="fa fa-calendar"></i>
										</span>
										<textarea type="date" class="form-control -right" placeholder="Short description of the event"></textarea>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label">Event Location</label>
								<div class="col-md-5">
									<div class="input-group">
										<span class="input-group-addon -left">
											<i class="fa fa-calendar"></i>
										</span>
										<textarea type="date" class="form-control -right" placeholder="Location of the event"></textarea>
									</div>
								</div>
							</div>
							<div class="form-group last">
								<label class="control-label col-md-4">Full Details</label>
								<div class="col-md-5">
									<div name="summernote" id="summernote_1"> </div>
								</div>
							</div>
						</div>
					</form>
					<div class="alert alert-success event-success" style="display:none">
						<strong>Success!</strong> The event has been added.
					</div>
					<div class="alert alert-danger event-danger" style="display:none">
						<strong>Failed!</strong> The page has adding failed. 
					</div>
					<div class="alert alert-warning event-warning" style="display:none">
						<strong><i class="fa fa-spinner fa-spin"></i>Saving!</strong> Wait while the event is being added.
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn green save_event">Save changes</button>
				</div>
			</div>
		</div>
	</div>



	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script src="../global/scripts/datatable.js" type="text/javascript"></script>
	<script src="../global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
	<script src="../global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
	<script src="../global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
	<script src="../global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
	<script src="../global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
	<script src="../global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
	<script src="../global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
	<script src="./../global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
	<script src="../global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
	<script src="../global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
	<!-- END PAGE LEVEL PLUGINS -->

	<script type="text/javascript">
	var EcommerceProducts = function () {

		var initPickers = function () {
        //init date pickers
        $('.date-picker').datepicker({
        	rtl: App.isRTL(),
        	autoclose: true
        });
    }

    var handleProducts = function() {
    	var grid = new Datatable();
    	grid.init({
    		src: $("#datatable_products"),
    		onSuccess: function (grid) {
                // execute some code after table records loaded
            },
            onError: function (grid) {
                // execute some code on network or other general error  
            },
            loadingMessage: 'Loading...',
            dataTable: { // here you can define a typical datatable settings from http://datatables.net/usage/options 

                // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/scripts/datatable.js). 
                // So when dropdowns used the scrollable div should be removed. 
                //"dom": "<'row'<'col-md-8 col-sm-12'pli><'col-md-4 col-sm-12'<'table-group-actions pull-right'>>r>t<'row'<'col-md-8 col-sm-12'pli><'col-md-4 col-sm-12'>>",

                "lengthMenu": [
                [10, 20, 50, 100, 150],
                    [10, 20, 50, 100, 150] // change per page values here 
                    ],
                "pageLength": 10, // default record count per page
                "ajax": {
                    "url": "/get_event_search_data", // ajax source
                    "type": "GET"
                },
                "order": [
                [1, "asc"]
                ] // set first column as a default sort by asc
            }
        });

         // handle group actionsubmit button click
         grid.getTableWrapper().on('click', '.table-group-action-submit', function (e) {
         	e.preventDefault();
         	var action = $(".table-group-action-input", grid.getTableWrapper());
         	if (action.val() != "" && grid.getSelectedRowsCount() > 0) {
         		grid.setAjaxParam("customActionType", "group_action");
         		grid.setAjaxParam("customActionName", action.val());
         		grid.setAjaxParam("id", grid.getSelectedRows());
         		grid.getDataTable().ajax.reload();
         		grid.clearAjaxParams();
         	} else if (action.val() == "") {
         		App.alert({
         			type: 'danger',
         			icon: 'warning',
         			message: 'Please select an action',
         			container: grid.getTableWrapper(),
         			place: 'prepend'
         		});
         	} else if (grid.getSelectedRowsCount() === 0) {
         		App.alert({
         			type: 'danger',
         			icon: 'warning',
         			message: 'No record selected',
         			container: grid.getTableWrapper(),
         			place: 'prepend'
         		});
         	}
         });
}

return {
        //main function to initiate the module
        init: function () {
        	handleProducts();
        	initPickers();
        }
    };
}();

var ComponentsEditors = function () {
	var handleSummernote = function () {
		$('#summernote_1').summernote({height: 300});
        //API:
        //var sHTML = $('#summernote_1').code(); // get code
        //$('#summernote_1').destroy(); // destroy
    }
    return {
        //main function to initiate the module
        init: function () {
        	handleSummernote();
        }
    };

}();

jQuery(document).ready(function() {    
	EcommerceProducts.init();
	ComponentsEditors.init();
	$('.bs-select').selectpicker({
		iconBase: 'fa',
		tickIcon: 'fa-check'
	});
});

$('.save_event').click(function(event) {

	$('.event-warning').slideDown();
	setTimeout(function(){
		$('.alert').hide();
		$('.event-warning').slideUp();
		$('.event-success').slideDown();
		$('#event_form input').val('');
		$('#event_form textarea').val('');
		$('#summernote_1').code('');
	}, 3000);

});
</script>

<div class="modal fade" id="large" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h3 class="modal-title">Event DETAILS</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3 col-md-offset-1">
						<form action="" method="POST" class="form-horizontal" role="form">
							<div class="form-group">
								<img src="http://d1a6svqic8kgo7.cloudfront.net/getasset/67a80dbd-9abf-41ff-9fe8-680baff6c3ca/">
							</div>
							<div class="form-group">
								<label for="">Event Type</label>
								<input type="text" class="form-control"  placeholder="Undergraduates / Graduates, Open day" readonly>
							</div>
							<div class="form-group">
								<label for="">Duration</label>
								<textarea class="form-control"  placeholder="Friday, March 18, 2016 1:30pm -Friday, March 18, 2016 5pm" readonly></textarea>
							</div>
							<div class="form-group">
								<label for="">Location</label>
								<textarea class="form-control"  placeholder="RAOWA Complex, Mohakhali DOHS, Dhaka-1206" readonly></textarea>
							</div>
						</form>
					</div>
					<div class="col-md-5 col-md-offset-1" >
						<h3 style="margin-top:100px"><strong>Insight Day – London</strong></h3>
						<p><strong>Amazing careers start at Deloitte. Join us at one of our Insight Days and enjoy an unparalleled and inspirational look inside our business, as well as tips on how to ace event interviews and assessment centres.</strong></p>
						<p>
							Forget everything you thought you knew about professional services. Our Insight Days are your opportunity to experience the real Deloitte. We’ll explain the difference each of our service lines make – to clients, to the economy and to society. And when you’re not testing your ingenuity on one of our hands-on games, you’ll have the chance to question our graduate talent.
						</p>
						<p>
							We’ll also teach you what makes a great graduate and placement interview. You’ll learn what examples to use in an interview and what recruiters are really assessing. By the end of the day, you’ll feel confident, prepared and inspired.
						</p>
						<p>
							Please click here for more information, we look forward to seeing you there.
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
				<a type="button" href="http://armyofficers.tumblr.com/" target="_blank" class="btn green">Going</a>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>


<%include ./partials/footer.ejs %>
