<%include ./partials/header.ejs %>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
<link href="/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
<link href="/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css"/>
<link href="/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
<link href="/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->

<div class="row">
	<div class="col-md-12">
		<!-- Begin: life time stats -->
		<div class="portlet ">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-shopping-cart"></i>Job Lists</div>
					<div class="actions">
						<a class="btn btn-info" data-toggle="modal" href="#full">
							<i class="fa fa-plus"></i>
							<span class="hidden-xs">Add New Job </span>
						</a>
						<div class="btn-group">
							<a class="btn  btn-default dropdown-toggle" href="javascript:;" data-toggle="dropdown">
								<i class="fa fa-share"></i>
								<span class="hidden-xs"> Tools </span>
								<i class="fa fa-angle-down"></i>
							</a>
							<div class="dropdown-menu pull-right">
								<li>
									<a href="javascript:;"> Export to Excel </a>
								</li>
								<li>
									<a href="javascript:;"> Export to CSV </a>
								</li>
								<li>
									<a href="javascript:;"> Export to XML </a>
								</li>
								<li class="divider"></li>
								<a href="javascript:;"> Print Invoices </a>
							</li>
						</div>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-container">
					<div class="table-actions-wrapper">
						<span> </span>
						<select style="display:none" class="table-group-action-input form-control input-inline input-small input-sm">
							<option value="">Select...</option>
							<option value="publish">Publish</option>
							<option value="unpublished">Un-publish</option>
							<option value="delete">Delete</option>
						</select>
						<button style="display:none" class="btn btn-sm btn-success table-group-action-submit">
							<i class="fa fa-check"></i> Submit
						</button>
					</div>
					<table class="table table-striped table-bordered table-hover table-checkable" id="datatable_products">
						<thead>
							<tr role="row" class="filter">
								<td>
									<select class="form-control form-filter input-sm" id="state_tagsinput_value">
										<option value="" selected="true" disabled>Select search type</option>
										<option>Gender Requirement</option>
										<option>Experience More than</option>
										<option>Experience Less than</option>
										<option>Age required More than</option>
										<option>Age required less than</option>
										<option>Job Nature</option>
										<option>Job Level</option>
									</select>
								</td>
								<td>
									<input type="text" class="form-control form-filter input-sm" placeholder="City" id="state_tagsinput_city">
								</td>
								<td colspan="4">
									<input type="text" class="form-control form-filter input-sm" value="" id="state_tagsinput">
								</td>
								<td>
									<a href="javascript:;" class="btn btn-sm btn-success"  id="state_tagsinput_add"><i class="fa fa-plus"></i> Add filter</a>
								</td>
							</tr>
							<tr role="row" class="heading">
								<th width="13%"> Company </th>
								<th width="15%"> Sector </th>
								<th width="35%"> Job Details </th>
								<th width="7%"> Salary </th>
								<th width="10%"> Location </th>
								<th width="10%"> Deadline </th>
								<th width="5%">  Actions </th>
							</tr>
							<tr role="row" class="filter">
								<td>
									<input type="text" class="form-control form-filter input-sm" name="company" placeholder="company name"> 
								</td>
								<td>
									<select class="form-control form-filter input-sm">
										<option disabled selected="true">Select Sector</option>
										<option>Accounting &amp; Finance</option>
										<option>Aerospace &amp; Defence</option>
										<option>Banking</option>
										<option>Business &amp; Management</option>
										<option>Charity &amp; Non-profit</option>
										<option>Construction &amp; Property</option>
										<option>Consultancy &amp; Strategy</option>
										<option>Consumer Goods &amp; FMCG</option>
										<option>Education &amp; Training</option>
										<option>Energy, Environmental &amp; Agriculture</option>
										<option>Engineering &amp; Manufacturing</option>
										<option>Hospitality &amp; Tourism</option>
										<option>HR &amp; Recruitment</option>
										<option>Insurance</option>
										<option>IT &amp; Telecommunications</option>
										<option>Legal</option>
										<option>Logistics &amp; Transport</option>
										<option>Marketing &amp; PR</option>
										<option>Media &amp; Publishing</option>
										<option>Medical &amp; Pharmaceutical</option>
										<option>Public Sector</option>
										<option>Retail, Buying &amp; Merchandising</option>
										<option>Sales</option>
										<option>Science &amp; Research</option>
									</select>
									<br>
									<select class="form-control form-filter input-sm">
										<option disabled selected="true">Select Industry</option>
										<option>Agro based Industry</option>
										<option>Archi./Engg./Construction</option>
										<option>Automobile/Industrial Machine</option>
										<option>Bank/Non-Bank Fin. Institution</option>
										<option>Education</option>
										<option>Electronics/Consumer Durables </option>
										<option>Energy/Power/Fuel</option>
										<option>Garments/Textile</option>
										<option>Govt./Semi-Govt./Autonomous  </option>
										<option>Pharmaceuticals</option>
										<option>Hospital/ Diagnostic Center</option>
										<option>Airline/ Travel/ Tourism</option>
										<option>Manufacturing (Light Industry)</option>
										<option>Manufacturing (Heavy Industry)</option>
										<option>Hotel/Restaurant </option>
										<option>Information Technology (IT)</option>
										<option>Logistics/ Transportation </option>
										<option>Entertainment/ Recreation</option>
										<option>Media / Advertising/ Event Mgt.</option>
										<option>NGO/Development</option>
										<option>Real Estate/Development</option>
										<option>Wholesale/ Retail/ Export-Import</option>
										<option>Telecommunication</option>
										<option>Food &amp; Beverage Industry</option>
										<option>Security Service</option>
										<option>Fire, Safety &amp; Protection</option>
										<option>Others</option>
									</select>
								</td>
								<td>
									<input type="text" class="form-control form-filter input-sm" name="details" placeholder="search keywords"> 
								</td>
								<td>
									<div class="margin-bottom-5">
										<input type="text" class="form-control form-filter input-sm" name="salary_from" placeholder="From" /> 
									</div>
									<input type="text" class="form-control form-filter input-sm" name="salary_to" placeholder="To" /> 
								</td>
								<td>
									<input type="text" class="form-control form-filter input-sm" name="product_quantity_from" placeholder="e.g. Dhaka" /> 
								</td>
								<td>
									<div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
										<input type="text" class="form-control form-filter input-sm" readonly name="product_created_from" placeholder="From">
										<span class="input-group-btn">
											<button class="btn btn-sm default" type="button">
												<i class="fa fa-calendar"></i>
											</button>
										</span>
									</div>
									<div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
										<input type="text" class="form-control form-filter input-sm" readonly name="product_created_to " placeholder="To">
										<span class="input-group-btn">
											<button class="btn btn-sm default" type="button">
												<i class="fa fa-calendar"></i>
											</button>
										</span>
									</div>
								</td>
								<td>
									<div class="margin-bottom-5">
										<button class="btn btn-sm btn-success filter-submit margin-bottom">
											<i class="fa fa-search"></i> Search
										</button>
									</div>
									<button class="btn btn-sm btn-default filter-cancel">
										<i class="fa fa-times"></i> Reset
									</button>
								</td>
							</tr>
						</thead>
						<tbody> </tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>

<div class="modal fade" id="full" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h3 class="modal-title"><strong>Add New Job</strong></h3>
			</div>
			<div class="modal-body">
				<form action="#" id="job_form" class="form-horizontal">
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-4 control-label">Job Title</label>
							<div class="col-md-5">
								<div class="input-group">
									<span class="input-group-addon -left">
										<i class="fa fa-pencil"></i>
									</span>
									<input type="text" class="form-control " name="title" placeholder="Job Title">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Salary</label>
							<div class="col-md-5">
								<div class="input-group">
									<span class="input-group-addon -left">
										<i class="fa fa-dollar"></i>
									</span>
									<input type="number" class="form-control -right" name="salary"  placeholder="Salary">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Submission Deadline</label>
							<div class="col-md-5">
								<div class="input-group">
									<span class="input-group-addon -left">
										<i class="fa fa-calendar"></i>
									</span>
									<input type="date" class="form-control -right" name="closing_date" placeholder="Last date of cv submission">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Job Sector</label>
							<div class="col-md-5">
								<div class="input-group">
									<span class="input-group-addon -left">
										<i class="fa fa-cubes"></i>
									</span>
									<select type="date" class="form-control  -right" name="sector">
										<option>Accounting &amp; Finance</option>
										<option>Aerospace &amp; Defence</option>
										<option>Banking</option>
										<option>Business &amp; Management</option>
										<option>Charity &amp; Non-profit</option>
										<option>Construction &amp; Property</option>
										<option>Consultancy &amp; Strategy</option>
										<option>Consumer Goods &amp; FMCG</option>
										<option>Education &amp; Training</option>
										<option>Energy, Environmental &amp; Agriculture</option>
										<option>Engineering &amp; Manufacturing</option>
										<option>Hospitality &amp; Tourism</option>
										<option>HR &amp; Recruitment</option>
										<option>Insurance</option>
										<option>IT &amp; Telecommunications</option>
										<option>Legal</option>
										<option>Logistics &amp; Transport</option>
										<option>Marketing &amp; PR</option>
										<option>Media &amp; Publishing</option>
										<option>Medical &amp; Pharmaceutical</option>
										<option>Public Sector</option>
										<option>Retail, Buying &amp; Merchandising</option>
										<option>Sales</option>
										<option>Science &amp; Research</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group ">
							<label class="control-label col-md-4">Company Name</label>
							<div class="col-md-5">
								<select class="bs-select form-control" data-show-subtext="true" data-live-search="true" name = "recruiter">
									<option value='aaaa' data-content='<img src="http://postashio.com/wp-content/uploads/2015/10/walmart-logo.jpg" alt="Walmart Logo" width="50px"/><strong>Walmart</strong>'></option>
									<option data-content='<img src="http://postashio.com/wp-content/uploads/2015/10/sinopec-logo.jpg" alt="Sinopec Logo" width="50px"/><strong>Sinopec</strong>'></option>
									<option data-content='<img src="http://postashio.com/wp-content/uploads/2015/10/royal-dutch-shell-logo.jpg" alt="Royal Dutch Shell Logo" width="50px" heigh0px"/><strong>Royal Dutch Shell</strong>'></option>
									<option data-content='<img src="http://postashio.com/wp-content/uploads/2015/10/petrochina-logo.jpg" alt="PetroChina Logo" width="50px"/><strong>PetroChina</strong>'></option>
									<option data-content='<img src="http://postashio.com/wp-content/uploads/2015/10/exxon-mobil-logo.jpg" alt="ExxonMobil Logo" width="50px"/><strong>ExxonMobil</strong>'></option>
									<option data-content='<img src="http://postashio.com/wp-content/uploads/2015/10/bp-logo.jpg" alt="BP Logo" width="50px"/><strong>BP</strong>'></option>
								</select>
							</div>
						</div>
						<div class="form-group" style="margin-top:25px" >
							<label class="col-md-4 control-label">Job Summary</label>
							<div class="col-md-5">
								<div class="input-group">
									<span class="input-group-addon -left">
										<i class="fa fa-calendar"></i>
									</span>
									<textarea type="date" class="form-control -right" name="summary" placeholder="Short description of the job"></textarea>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Job Location</label>
							<div class="col-md-5">
								<div class="input-group">
									<span class="input-group-addon -left">
										<i class="fa fa-calendar"></i>
									</span>
									<textarea name="location" class="form-control -right" placeholder="Location of the Job"></textarea>
								</div>
							</div>
						</div>
						<div class="form-group last">
							<label class="control-label col-md-4">Full Details</label>
							<div class="col-md-5">
								<div name="details" id="summernote_1"> </div>
							</div>
						</div>
					</div>
				</form>
				<div class="alert alert-success job-success" style="display:none">
					<strong>Success!</strong> The Job has been added.
				</div>
				<div class="alert alert-danger job-danger" style="display:none">
					<strong>Failed!</strong> The page has adding failed. 
				</div>
				<div class="alert alert-warning job-warning" style="display:none">
					<strong><i class="fa fa-spinner fa-spin"></i>Saving!</strong> Wait while the job is being added.
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn green save_job">Save changes</button>
			</div>
		</div>
	</div>
</div>



<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
<script src="/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
<script src="/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
<script src="/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
<script src="/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
<script src="/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<script type="text/javascript">
var EcommerceProducts = function () {

	var initPickers = function () {
        //init date pickers
        $('.date-picker').datepicker({
        	rtl: App.isRTL(),
        	autoclose: true
        });
    }

    var handleProducts = function() {
    	var grid = new Datatable();
    	grid.init({
    		src: $("#datatable_products"),
    		onSuccess: function (grid) {
                // execute some code after table records loaded
            },
            onError: function (grid) {
                // execute some code on network or other general error  
            },
            loadingMessage: 'Loading...',
            dataTable: { // here you can define a typical datatable settings from http://datatables.net/usage/options 

                // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/scripts/datatable.js). 
                // So when dropdowns used the scrollable div should be removed. 
                //"dom": "<'row'<'col-md-8 col-sm-12'pli><'col-md-4 col-sm-12'<'table-group-actions pull-right'>>r>t<'row'<'col-md-8 col-sm-12'pli><'col-md-4 col-sm-12'>>",
                "columnDefs": [ {
                	"targets": [0,1,6],
                	"orderable": false
                }, ],
                "lengthMenu": [
                [10, 20, 50, 100, 150],
                    [10, 20, 50, 100, 150] // change per page values here 
                    ],
                "pageLength": 10, // default record count per page
                "ajax": {
                    "url": "/jobs/list", // ajax source
                    "type": "GET"
                },
                "order": [
                [2, "asc"]
                ] // set first column as a default sort by asc
            }
        });

         // handle group actionsubmit button click
         grid.getTableWrapper().on('click', '.table-group-action-submit', function (e) {
         	e.preventDefault();
         	var action = $(".table-group-action-input", grid.getTableWrapper());
         	if (action.val() != "" && grid.getSelectedRowsCount() > 0) {
         		grid.setAjaxParam("customActionType", "group_action");
         		grid.setAjaxParam("customActionName", action.val());
         		grid.setAjaxParam("id", grid.getSelectedRows());
         		grid.getDataTable().ajax.reload();
         		grid.clearAjaxParams();
         	} else if (action.val() == "") {
         		App.alert({
         			type: 'danger',
         			icon: 'warning',
         			message: 'Please select an action',
         			container: grid.getTableWrapper(),
         			place: 'prepend'
         		});
         	} else if (grid.getSelectedRowsCount() === 0) {
         		App.alert({
         			type: 'danger',
         			icon: 'warning',
         			message: 'No record selected',
         			container: grid.getTableWrapper(),
         			place: 'prepend'
         		});
         	}
         });
}

return {
        //main function to initiate the module
        init: function () {
        	handleProducts();
        	initPickers();
        }
    };
}();

var ComponentsEditors = function () {
	var handleSummernote = function () {
		$('#summernote_1').summernote({height: 300});
        //API:
        //var sHTML = $('#summernote_1').code(); // get code
        //$('#summernote_1').destroy(); // destroy
    }
    return {
        //main function to initiate the module
        init: function () {
        	handleSummernote();
        }
    };

}();

jQuery(document).ready(function() {    
	EcommerceProducts.init();
	ComponentsEditors.init();
	$('.bs-select').selectpicker({
		iconBase: 'fa',
		tickIcon: 'fa-check'
	});
});

$('.save_job').click(function(event) {
	var form_data = ($('#job_form').serializeArray());
	var a = {
		'name' : 'details',
		'value' : $('.note-editable.panel-body').html()
	}
	form_data.push(a);
	$('.job-warning').slideDown();

	$.post('/jobs/create', form_data).done(function(data, textStatus, xhr) {
		alert("success");
		console.log(data);		
	}).error(function() {
		$('.alert').hide();
		$('.job-warning').slideUp();
		$('.job-success').slideDown();
		$('#job_form input').val('');
		$('#job_form textarea').val('');
		$('#summernote_1').code('');		
	});
});

$('.portlet-body').on('click', '.job_details_view', function(event) {
	event.preventDefault();
	$.get('/jobs/get_job_details/'+$(this).attr('id'), function(data) {
		var job_data = JSON.parse(data);
		$.each(job_data, function(index, val) {
			$('.job_details_'+index).html(val);
		});
		$('#large').modal('show');
	});
});

</script>

<script type="text/javascript">
var handleDemo2 = function() {

	var elt = $('#state_tagsinput');

	elt.tagsinput({
		tagClass: function(item) {
			return 'label label-primary';
			// switch (item.continent) {
			// 	case 'Europe':
			// 	return 'label label-primary';
			// 	case 'America':
			// 	return 'label label-danger label-important';
			// 	case 'Australia':
			// 	return 'label label-success';
			// 	case 'Africa':
			// 	return 'label label-default';
			// 	case 'Asia':
			// 	return 'label label-warning';
			// }
		},
		itemValue: 'value',
		itemText: 'text'
	});

	$('#state_tagsinput_add').on('click', function(){
		elt.tagsinput('add', { 
			"value": $('#state_tagsinput_value').val(), 
			"text": $('#state_tagsinput_value').val()+" : "+$('#state_tagsinput_city').val(), 
			"continent": $('#state_tagsinput_continent').val()    
		});
	});
}

handleDemo2();
</script>

<div class="modal fade" id="large" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h3 class="modal-title">JOB DETAILS</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3 col-md-offset-1">
						<form action="" method="POST" class="form-horizontal" role="form">
							<div class="form-group">
								<img src="http://d1a6svqic8kgo7.cloudfront.net/getasset/67a80dbd-9abf-41ff-9fe8-680baff6c3ca/">
							</div>
							<div class="form-group">
								<label for="">Company</label>
								<input class="form-control job_details_company"  placeholder="The Army" readonly>
							</div>
							<div class="form-group">
								<label for="">Salary</label>
								<input class="form-control job_details_salary"  placeholder="$25,220" readonly>
							</div>
							<div class="form-group">
								<label for="">Location</label>
								<textarea class="form-control job_details_location"  placeholder="Nationwide" readonly></textarea>
							</div>
							<div class="form-group">
								<label for="">Job Sector</label>
								<input class="form-control job_details_sector" placeholder="Aerospace & Defence" readonly>
							</div>
							<div class="form-group">
								<label for="">Application Deadline</label>
								<input class="form-control job_details_closing_date"  placeholder="01 Jan 2016" readonly>
							</div>
							<div class="form-group">
								<label for="">Posted On</label>
								<input class="form-control" placeholder="01 Dec 2015" readonly>
							</div>
						</form>
					</div>
					<div class="col-md-5 col-md-offset-1" >
						<h3 style="margin-top:100px"><strong class="job_details_title">Army Officer</strong></h3>
						<p><strong class="job_details_summary">Regular or Reservist, being an Army Officer is about leading from the front and caring for your soldiers.</strong></p>

						<div class="job_details_details"></div>

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
				<a type="button" href="http://armyofficers.tumblr.com/" target="_blank" class="btn green">APPLY</a>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<%include ./partials/footer.ejs %>
