<!DOCTYPE html>
<!-- 
Theme: JANGO - Ultimate Multipurpose HTML Theme Built With Twitter Bootstrap 3.3.5
Version: 1.3.5
Author: Themehats
Site: http://www.themehats.com
Purchase: http://themeforest.net/item/jango-responsive-multipurpose-html5-template/11987314?ref=themehats
Contact: support@themehats.com
Follow: http://www.twitter.com/themehats
-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->


<!-- Mirrored from themehats.com/themes/jango/home-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Apr 2016 08:52:49 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
	<meta charset="utf-8" />
	<title>JANGO | Ultimate Multipurpose Bootstrap HTML Theme - Home Version 3</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>
	<link href="/assets/plugins/socicon/socicon.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/animate/animate.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN: BASE PLUGINS  -->
	<link href="/assets/plugins/revo-slider/css/settings.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/revo-slider/css/layers.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/revo-slider/css/navigation.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/slider-for-bootstrap/css/slider.css" rel="stylesheet" type="text/css" />
	<!-- END: BASE PLUGINS -->
	<!-- BEGIN THEME STYLES -->
	<link href="/assets/base/css/plugins.css" rel="stylesheet" type="text/css" />
	<link href="/assets/base/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
	<link href="/assets/base/css/themes/default.css" rel="stylesheet" id="style_theme" type="text/css" />
	<link href="/assets/base/css/custom.css" rel="stylesheet" type="text/css" />
	<!-- END THEME STYLES -->
	<link rel="shortcut icon" href="favicon.ico" /> </head>

	<body class="c-layout-header-fixed c-layout-header-mobile-fixed c-layout-header-fullscreen">
		<!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
		<!-- BEGIN: HEADER -->
		<header class="c-layout-header c-layout-header-2 c-layout-header-dark-mobile c-header-transparent-dark" data-minimize-offset="80">
			<div class="c-navbar">
				<div class="container-fluid">
					<!-- BEGIN: BRAND -->
					<div class="c-navbar-wrapper clearfix">
						<div class="c-brand c-pull-left">
							<a href="index.html" class="c-logo">
								<img src="assets/base/img/layout/logos/logo-1.png" alt="JANGO" class="c-desktop-logo">
								<img src="assets/base/img/layout/logos/logo-1.png" alt="JANGO" class="c-desktop-logo-inverse">
								<img src="assets/base/img/layout/logos/logo-1.png" alt="JANGO" class="c-mobile-logo"> </a>
								<button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
									<span class="c-line"></span>
									<span class="c-line"></span>
									<span class="c-line"></span>
								</button>
								<button class="c-topbar-toggler" type="button">
									<i class="fa fa-ellipsis-v"></i>
								</button>
								<button class="c-search-toggler" type="button">
									<i class="fa fa-search"></i>
								</button>
								<button class="c-cart-toggler" type="button">
									<i class="icon-handbag"></i>
									<span class="c-cart-number c-theme-bg">2</span>
								</button>
							</div>
							<!-- END: BRAND -->
							<!-- BEGIN: QUICK SEARCH -->
							<form class="c-quick-search" action="#">
								<input type="text" name="query" placeholder="Type to search..." value="" class="form-control" autocomplete="off">
								<span class="c-theme-link">&times;</span>
							</form>
							<!-- END: QUICK SEARCH -->
							<!-- BEGIN: HOR NAV -->
							<!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
							<!-- BEGIN: MEGA MENU -->
							<!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
							<nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-theme c-fonts-uppercase c-fonts-bold">
								<ul class="nav navbar-nav c-theme-nav">
									<li>
										<a href="\jobs\find_job\" class="c-link dropdown-toggle">Find Job
											<span class="c-arrow c-toggler"></span>
										</a>
									</li>
									<li>
										<a href="\sectors\" class="c-link dropdown-toggle">Sectors and Industries
											<span class="c-arrow c-toggler"></span>
										</a>
									</li>
									<li>
										<a href="\recruiters\" class="c-link dropdown-toggle">Recruiters A-z
											<span class="c-arrow c-toggler"></span>
										</a>
									</li>
									<li>
										<a href="\advice\" class="c-link dropdown-toggle">Career Advice
											<span class="c-arrow c-toggler"></span>
										</a>
									</li>
									<li>
										<a href="\blogs\" class="c-link dropdown-toggle">Blogs
											<span class="c-arrow c-toggler"></span>
										</a>
									</li>
									<li>
										<a href="\events\" class="c-link dropdown-toggle">Events
											<span class="c-arrow c-toggler"></span>
										</a>
									</li>
									<li>
										<a href="javascript:;" data-toggle="modal" data-target="#login-form" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold">
											<i class="icon-user"></i> Sign In
										</a>
									</li>
								</ul>
							</nav>
							<!-- END: MEGA MENU -->
							<!-- END: LAYOUT/HEADERS/MEGA-MENU -->
							<!-- END: HOR NAV -->
						</div>
						<!-- BEGIN: LAYOUT/HEADERS/QUICK-CART -->
						<!-- BEGIN: CART MENU -->
						<div class="c-cart-menu">
							<div class="c-cart-menu-title">
								<p class="c-cart-menu-float-l c-font-sbold">2 item(s)</p>
								<p class="c-cart-menu-float-r c-theme-font c-font-sbold">$79.00</p>
							</div>
							<ul class="c-cart-menu-items">
								<li>
									<div class="c-cart-menu-close">
										<a href="#" class="c-theme-link">×</a>
									</div>
									<img src="assets/base/img/content/shop2/24.jpg" />
									<div class="c-cart-menu-content">
										<p>1 x
											<span class="c-item-price c-theme-font">$30</span>
										</p>
										<a href="shop-product-details-2.html" class="c-item-name c-font-sbold">Winter Coat</a>
									</div>
								</li>
								<li>
									<div class="c-cart-menu-close">
										<a href="#" class="c-theme-link">×</a>
									</div>
									<img src="assets/base/img/content/shop2/12.jpg" />
									<div class="c-cart-menu-content">
										<p>1 x
											<span class="c-item-price c-theme-font">$30</span>
										</p>
										<a href="shop-product-details.html" class="c-item-name c-font-sbold">Sports Wear</a>
									</div>
								</li>
							</ul>
							<div class="c-cart-menu-footer">
								<a href="shop-cart.html" class="btn btn-md c-btn c-btn-square c-btn-grey-3 c-font-white c-font-bold c-center c-font-uppercase">View Cart</a>
								<a href="shop-checkout.html" class="btn btn-md c-btn c-btn-square c-theme-btn c-font-white c-font-bold c-center c-font-uppercase">Checkout</a>
							</div>
						</div>
						<!-- END: CART MENU -->
						<!-- END: LAYOUT/HEADERS/QUICK-CART -->
					</div>
				</div>
			</header>
			<!-- END: HEADER -->
			<!-- END: LAYOUT/HEADERS/HEADER-1 -->
			<!-- BEGIN: CONTENT/USER/FORGET-PASSWORD-FORM -->
			<div class="modal fade c-content-login-form" id="forget-password-form" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content c-square">
						<div class="modal-header c-no-border">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<h3 class="c-font-24 c-font-sbold">Password Recovery</h3>
							<p>To recover your password please fill in your email address</p>
							<form>
								<div class="form-group">
									<label for="forget-email" class="hide">Email</label>
									<input type="email" class="form-control input-lg c-square" id="forget-email" placeholder="Email"> </div>
									<div class="form-group">
										<button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Submit</button>
										<a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">Back To Login</a>
									</div>
								</form>
							</div>
							<div class="modal-footer c-no-border">
								<span class="c-text-account">Don't Have An Account Yet ?</span>
								<a href="/user/login" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
							</div>
						</div>
					</div>
				</div>
				<!-- END: CONTENT/USER/FORGET-PASSWORD-FORM -->
				<!-- BEGIN: CONTENT/USER/SIGNUP-FORM -->
				<div class="modal fade c-content-login-form" id="signup-form" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content c-square">
							<div class="modal-header c-no-border">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<h3 class="c-font-24 c-font-sbold">Create An Account</h3>
								<p>Please fill in below form to create an account with us</p>
								<form>
									<div class="form-group">
										<label for="signup-email" class="hide">Email</label>
										<input type="email" class="form-control input-lg c-square" id="signup-email" placeholder="Email"> </div>
										<div class="form-group">
											<label for="signup-username" class="hide">Username</label>
											<input type="email" class="form-control input-lg c-square" id="signup-username" placeholder="Username"> </div>
											<div class="form-group">
												<label for="signup-fullname" class="hide">Fullname</label>
												<input type="email" class="form-control input-lg c-square" id="signup-fullname" placeholder="Fullname"> </div>
												<div class="form-group">
													<label for="signup-country" class="hide">Country</label>
													<select class="form-control input-lg c-square" id="signup-country">
														<option value="1">Country</option>
													</select>
												</div>
												<div class="form-group">
													<button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Signup</button>
													<a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">Back To Login</a>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- END: CONTENT/USER/SIGNUP-FORM -->
							<!-- BEGIN: CONTENT/USER/LOGIN-FORM -->
							<div class="modal fade c-content-login-form" id="login-form" role="dialog">
								<div class="modal-dialog">
									<div class="modal-content c-square">
										<div class="modal-header c-no-border">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<h3 class="c-font-24 c-font-sbold">Good Afternoon!</h3>
											<p>Let's find you a great job.</p>
											<form method="post" action="/user/login">
												<div class="form-group">
													<label for="login-email" class="hide">Email</label>
													<input type="email" name="email" class="form-control input-lg c-square" id="login-email" placeholder="Email"> </div>
													<div class="form-group">
														<label for="login-password" class="hide">Password</label>
														<input type="password" name="password" class="form-control input-lg c-square" id="login-password" placeholder="Password"> </div>
														<div class="form-group">
															<div class="c-checkbox">
																<input type="checkbox" id="login-rememberme" class="c-check">
																<label for="login-rememberme" class="c-font-thin c-font-17">
																	<span></span>
																	<span class="check"></span>
																	<span class="box"></span> Remember Me </label>
																</div>
															</div>
															<div class="form-group">
																<button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Login</button>
																<a href="javascript:;" data-toggle="modal" data-target="#forget-password-form" data-dismiss="modal" class="c-btn-forgot">Forgot Your Password ?</a>
															</div>
															<div class="clearfix">
																<div class="c-content-divider c-divider-sm c-icon-bg c-bg-grey c-margin-b-20">
																	<span>or, find great young talent for your company</span>
																</div>
																<ul class="c-content-list-adjusted">
																	<li>
																		<a style="width:100%" href="/recruiter/login" class="btn btn-block c-btn-square btn-social btn-twitter">
																			<i class="fa fa-user"></i> JOIN AS A RECRUITER 
																		</a>
																	</li>
																</ul>
															</div>
														</form>
													</div>
													<div class="modal-footer c-no-border">
														<span class="c-text-account">Don't Have An Account Yet ?</span>
														<a href="/user/login" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
													</div>
												</div>
											</div>
										</div>
										<!-- END: CONTENT/USER/LOGIN-FORM -->
										<!-- BEGIN: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
										<nav class="c-layout-quick-sidebar">
											<div class="c-header">
												<button type="button" class="c-link c-close">
													<i class="icon-login"></i>
												</button>
											</div>
											<div class="c-content">
												<div class="c-section">
													<h3>Theme Colors</h3>
													<div class="c-settings">
														<span class="c-color c-default c-active" data-color="default"></span>
														<span class="c-color c-green1" data-color="green1"></span>
														<span class="c-color c-green2" data-color="green2"></span>
														<span class="c-color c-green3" data-color="green3"></span>
														<span class="c-color c-yellow1" data-color="yellow1"></span>
														<span class="c-color c-yellow2" data-color="yellow2"></span>
														<span class="c-color c-yellow3" data-color="yellow3"></span>
														<span class="c-color c-red1" data-color="red1"></span>
														<span class="c-color c-red2" data-color="red2"></span>
														<span class="c-color c-red3" data-color="red3"></span>
														<span class="c-color c-purple1" data-color="purple1"></span>
														<span class="c-color c-purple2" data-color="purple2"></span>
														<span class="c-color c-purple3" data-color="purple3"></span>
														<span class="c-color c-blue1" data-color="blue1"></span>
														<span class="c-color c-blue2" data-color="blue2"></span>
														<span class="c-color c-blue3" data-color="blue3"></span>
														<span class="c-color c-brown1" data-color="brown1"></span>
														<span class="c-color c-brown2" data-color="brown2"></span>
														<span class="c-color c-brown3" data-color="brown3"></span>
														<span class="c-color c-dark1" data-color="dark1"></span>
														<span class="c-color c-dark2" data-color="dark2"></span>
														<span class="c-color c-dark3" data-color="dark3"></span>
													</div>
												</div>
												<div class="c-section">
													<h3>Header Type</h3>
													<div class="c-settings">
														<input type="button" class="c-setting_header-type btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="boxed" value="boxed" />
														<input type="button" class="c-setting_header-type btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="fluid" value="fluid" /> </div>
													</div>
													<div class="c-section">
														<h3>Header Mode</h3>
														<div class="c-settings">
															<input type="button" class="c-setting_header-mode btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="fixed" value="fixed" />
															<input type="button" class="c-setting_header-mode btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="static" value="static" /> </div>
														</div>
														<div class="c-section">
															<h3>Mega Menu Style</h3>
															<div class="c-settings">
																<input type="button" class="c-setting_megamenu-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="dark" value="dark" />
																<input type="button" class="c-setting_megamenu-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="light" value="light" /> </div>
															</div>
															<div class="c-section">
																<h3>Font Style</h3>
																<div class="c-settings">
																	<input type="button" class="c-setting_font-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase active" data-value="default" value="default" />
																	<input type="button" class="c-setting_font-style btn btn-sm c-btn-square c-btn-border-1x c-btn-white c-btn-sbold c-btn-uppercase" data-value="light" value="light" /> </div>
																</div>
															</div>
														</nav>
														<!-- END: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
														<!-- BEGIN: PAGE CONTAINER -->
														<style>
														select option {
															margin:40px;
															background: rgba(0,0,0,0.3);
															color:#fff;
															text-shadow:0 1px 0 rgba(0,0,0,0.4);
														}
														</style>
														<div class="c-layout-page">
															<!-- BEGIN: PAGE CONTENT -->
															<!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
															<section class="c-layout-revo-slider c-layout-revo-slider-7">
																<div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
																	<div class="c-singup-form">
																		<h3 class="c-font-54 c-font-thin c-font-white c-margin-b-40 c-font-uppercase"> FIND YOURS FROM
																			<span class="c-theme-font c-font-bold">THOUSANDS</span> OF JOBS </h3>
																			<form class="form-inline" action="#">
																				<div class="form-group">
																					<input type="text" class="form-control c-bg-transparent input-lg c-theme c-square " placeholder="Keywords"> 
																				</div>
																				<div class="form-group">
																					<select class="form-control c-bg-transparent input-lg c-theme c-square">
																						<option value="" disabled selected="true">Select a sector</option>
																						<option>Accounting &amp; Finance</option>
																						<option>Aerospace &amp; Defence</option>
																						<option>Banking</option>
																						<option>Business &amp; Management</option>
																						<option>Charity &amp; Non-profit</option>
																						<option>Construction &amp; Property</option>
																						<option>Consultancy &amp; Strategy</option>
																						<option>Consumer Goods &amp; FMCG</option>
																						<option>Education &amp; Training</option>
																						<option>Energy, Environmental &amp; Agriculture</option>
																						<option>Engineering &amp; Manufacturing</option>
																						<option>Hospitality &amp; Tourism</option>
																						<option>HR &amp; Recruitment</option>
																						<option>Insurance</option>
																						<option>IT &amp; Telecommunications</option>
																						<option>Legal</option>
																						<option>Logistics &amp; Transport</option>
																						<option>Marketing &amp; PR</option>
																						<option>Media &amp; Publishing</option>
																						<option>Medical &amp; Pharmaceutical</option>
																						<option>Public Sector</option>
																						<option>Retail, Buying &amp; Merchandising</option>
																						<option>Sales</option>
																						<option>Science &amp; Research</option>
																					</select>
																				</div>
																				<div class="form-group">
																					<select type="text" class="form-control c-bg-transparent input-lg c-theme c-square " placeholder="Location"> 
																						<option value="" disabled selected="true">Select location</option>
																						<option>Dhaka</option>
																						<option>Chitagong</option>
																						<option>Khulna</option>
																						<option>Barisal</option>
																						<option>Rajshahi</option>
																						<option>Sylhet</option>
																						<option>Mymensingh</option>
																						<option>Rangpur</option>
																					</select>
																				</div>
																				<a href="\find_job\" class="btn btn-lg btn-danger c-btn-uppercase c-btn-square c-btn-bold">Search Now</a>
																			</form>
																		</div>
																		<div class="tp-banner rev_slider" data-version="5.0">
																			<ul>
																				<!--BEGIN: SLIDE #1 -->
																				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
																					<img alt="" src="assets/base/img/content/backgrounds/bg-56.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"> </li>
																					<!--END -->
																					<!--BEGIN: SLIDE #2 -->
																					<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
																						<img alt="" src="assets/base/img/content/backgrounds/bg-57.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"> </li>
																						<!--END -->
																					</ul>
																				</div>
																			</div>
																		</section>
																		<!-- END: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
																		<!-- BEGIN: CONTENT/SLIDERS/CLIENT-LOGOS-1 -->
																		<div class="c-content-box c-size-md c-bg-white">
																			<div class="container">
																				<!-- Begin: Testimonals 1 component -->
																				<div class="c-content-client-logos-slider-1" data-slider="owl" data-items="5" data-desktop-items="4" data-desktop-small-items="3" data-tablet-items="3" data-mobile-small-items="1" data-auto-play="5000">
																					<!-- Begin: Title 1 component -->
																					<div class="c-content-title-1">
																						<h3 class="c-center c-font-uppercase c-font-bold">Top recruiters</h3>
																						<div class="c-line-center c-theme-bg"></div>
																					</div>
																					<!-- End-->
																					<!-- Begin: Owlcarousel -->
																					<div class="owl-carousel owl-theme c-theme">
																						<div class="item">
																							<a href="#">
																								<img src="assets/base/img/content/client-logos/logo1.jpg" alt="" />
																							</a>
																						</div>
																						<div class="item">
																							<a href="#">
																								<img src="assets/base/img/content/client-logos/logo2.jpg" alt="" />
																							</a>
																						</div>
																						<div class="item">
																							<a href="#">
																								<img src="assets/base/img/content/client-logos/logo3.jpg" alt="" />
																							</a>
																						</div>
																						<div class="item">
																							<a href="#">
																								<img src="assets/base/img/content/client-logos/logo4.jpg" alt="" />
																							</a>
																						</div>
																						<div class="item">
																							<a href="#">
																								<img src="assets/base/img/content/client-logos/logo5.jpg" alt="" />
																							</a>
																						</div>
																						<div class="item">
																							<a href="#">
																								<img src="assets/base/img/content/client-logos/logo6.jpg" alt="" />
																							</a>
																						</div>
																						<div class="item">
																							<a href="#">
																								<img src="assets/base/img/content/client-logos/logo7.jpg" alt="" />
																							</a>
																						</div>
																						<div class="item">
																							<a href="#">
																								<img src="assets/base/img/content/client-logos/logo8.jpg" alt="" />
																							</a>
																						</div>
																						<div class="item">
																							<a href="#">
																								<img src="assets/base/img/content/client-logos/logo9.jpg" alt="" />
																							</a>
																						</div>
																						<div class="item">
																							<a href="#">
																								<img src="assets/base/img/content/client-logos/logo10.jpg" alt="" />
																							</a>
																						</div>
																						<div class="item">
																							<a href="#">
																								<img src="assets/base/img/content/client-logos/logo11.jpg" alt="" />
																							</a>
																						</div>
																					</div>
																					<!-- End-->
																				</div>
																				<!-- End-->
																			</div>
																		</div>
																		<!-- END: CONTENT/SLIDERS/CLIENT-LOGOS-1 -->
																		<!-- BEGIN: CONTENT/STATS/COUNTER-4 -->
																		<div class="c-content-box c-size-lg c-bg-parallax" style="background-image: url(assets/base/img/content/backgrounds/bg-40.jpg)">
																			<div class="container">
																				<div class="c-content-counter-1">
																					<div class="c-content-title-1">
																						<h3 class="c-center c-font-uppercase c-font-white c-font-bold">A Short Overview</h3>
																						<div class="c-line-center c-bg-white"></div>
																					</div>
																					<div class="row c-margin-t-60">
																						<div class="col-md-3">
																							<div class="c-counter c-font-white c-bordered c-border-red c-font-white" data-counter="counterup">130</div>
																							<h4 class="c-title c-first c-font-white c-font-uppercase c-font-bold">Number of Employers</h4>
																							<p class="c-content c-font-white c-opacity-08">..and growing. More and more blue ribbon copanies are joining.</p>
																						</div>
																						<div class="col-md-3">
																							<div class="c-counter c-font-white c-bordered c-border-blue c-font-white" data-counter="counterup">35,500</div>
																							<h4 class="c-title c-font-white c-font-uppercase c-font-bold">Number of CV Submissions</h4>
																							<p class="c-content c-font-white c-opacity-08">Alongside a detailed overview of skills and qualificaton</p>
																						</div>
																						<div class="col-md-3">
																							<div class="c-counter c-font-white c-bordered c-border-green c-font-white" data-counter="counterup">101,865</div>
																							<h4 class="c-title c-font-white c-font-uppercase c-font-bold">Number of Job Seekers</h4>
																							<p class="c-content c-font-white c-opacity-08">and more coming everyday.</p>
																						</div>
																						<div class="col-md-3">
																							<div class="c-counter c-font-white c-bordered c-border-green c-font-white" data-counter="counterup">101,865</div>
																							<h4 class="c-title c-font-white c-font-uppercase c-font-bold">Number of Confirmed Employments</h4>
																							<p class="c-content c-font-white c-opacity-08">try your luck now.</p>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- END: CONTENT/STATS/COUNTER-4 -->
																		<!-- BEGIN: CONTENT/TABS/TAB-2 -->
																		<div class="c-content-box c-size-md c-overflow-hide c-bg-grey-1">
																			<div class="c-container">
																				<div class="c-content-tab-3 c-opt-1">
																					<div>
																						<ul class="nav c-theme-nav">
																							<li class="active">
																								<a class="c-font-16 c-theme-font c-font-bold" href="#c-tab3-1" data-toggle="tab">SECTORS</a>
																							</li>
																							<li>
																								<div class="c-separator"></div>
																								<a class="c-font-16 c-theme-font c-font-bold" href="#c-tab3-2" data-toggle="tab">INDUSTRIES</a>
																							</li>
																						</ul>
																					</div>
																					<div class="c-tab-content">
																						<div class="container">
																							<div class="tab-content">
																								<div class="tab-pane fade in active" id="c-tab3-1">
																									<div class="row">
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Accounting &amp; Finance</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-support"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Aerospace &amp; Defence</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-comment"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Banking</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-bulb"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Business &amp; Management</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-sticker"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Charity &amp; Non-profit</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-globe"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Construction &amp; Property</h3>
																											</div>
																										</div>
																									</div>
																									<div class="row">
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Consultancy &amp; Strategy</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-support"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Consumer Goods &amp; FMCG</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-comment"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Education &amp; Training</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-bulb"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Energy, Environmental &amp; Agriculture</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-sticker"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Engineering &amp; Manufacturing</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-globe"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Hospitality &amp; Tourism</h3>
																											</div>
																										</div>
																									</div>
																									<div class="row">
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">HR &amp; Recruitment</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-support"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Insurance</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-comment"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">IT &amp; Telecommunications</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-bulb"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Legal</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-sticker"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Logistics &amp; Transport</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-globe"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Marketing &amp; PR</h3>
																											</div>
																										</div>
																									</div>
																									<div class="row">
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Media &amp; Publishing</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-support"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Medical &amp; Pharmaceutical</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-comment"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Public Sector</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-bulb"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Retail, Buying &amp; Merchandising</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-sticker"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Sales</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-globe"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Science &amp; Research</h3>
																											</div>
																										</div>
																									</div>
																								</div>
																								<div class="tab-pane fade" id="c-tab3-2">
																									<div class="row">
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Agro based Industry</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-support"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Archi./Engg./Construction</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-comment"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Automobile/Industrial Machine</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-bulb"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Bank/Non-Bank Fin. Institution</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-sticker"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Education</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-globe"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Electronics/Consumer Durables </h3>
																											</div>
																										</div>
																									</div>
																									<div class="row">
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Energy/Power/Fuel</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-support"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Garments/Textile</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-comment"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Govt./Semi-Govt./Autonomous  </h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-bulb"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Pharmaceuticals</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-sticker"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Hospital/ Diagnostic Center</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-globe"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Airline/ Travel/ Tourism</h3>
																											</div>
																										</div>
																									</div>
																									<div class="row">
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Manufacturing (Light Industry</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-support"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Manufacturing (Heavy Industry</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-comment"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Hotel/Restaurant </h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-bulb"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Information Technology (IT</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-sticker"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Logistics/ Transportation </h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-globe"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Entertainment/ Recreation</h3>
																											</div>
																										</div>
																									</div>
																									<div class="row">
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Media / Advertising/ Event Mgt</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-support"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">NGO/Development</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-comment"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Real Estate/Development</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-bulb"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Wholesale/ Retail/ Export-Import</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-sticker"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Telecommunication</h3>
																											</div>
																										</div>
																										<div class="col-md-4 col-sm-6">
																											<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
																												<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
																													<div class="c-content-line-icon c-theme c-icon-globe"></div>
																												</div>
																												<h3 class="c-font-uppercase c-title">Food &amp; Beverage Industry</h3>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<!-- END: CONTENT/TABS/TAB-2 -->
																	<!-- BEGIN: CONTENT/PRICING/PRICING-6 -->
																	<div class="c-content-box c-size-md" style="background-color: #3b3f62">
																		<div class="container">
																			<div class="row">
																				<div class="col-md-12">
																					<div class="c-content-title-1 c-title-pricing-1">
																						<h3 class="c-font-green">
																							<span class="c-font-thin c-font-white">Great Pricing</span> for recruiters </h3>
																							<div class="c-row c-try">
																								<button class="btn btn-md c-btn-square c-btn-red c-btn-uppercase c-btn-bold">TRY IT FOR FREE</button>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="row">
																					<div class="c-content-pricing-1 c-opt-2">
																						<div class="col-md-3 c-sm-hidden">
																							<div class="c-content c-column-odd c-padding-adjustment">
																								<div class="c-row c-type c-font-20 c-align-left">Product Features</div>
																								<div class="c-row c-title c-font-17">End Products</div>
																								<div class="c-row c-title c-font-17">Standard Features</div>
																								<div class="c-row c-title c-font-17">Free Issues</div>
																								<div class="c-row c-title c-font-17">Paid Issues</div>
																								<div class="c-row c-empty">&nbsp;</div>
																								<div class="c-row c-empty">&nbsp;</div>
																							</div>
																						</div>
																						<div class="col-md-3 col-sm-4">
																							<div class="c-content c-column-even c-padding-adjustment">
																								<div class="c-row c-type c-font-20">Starter</div>
																								<div class="c-row c-font-17"> 10
																									<span class="c-sub-title">End Products</span>
																								</div>
																								<div class="c-row">
																									<i class="fa fa-check c-font-20"></i>
																									<span class="c-sub-title">Standard Features</span>
																								</div>
																								<div class="c-row">
																									<i class="fa fa-times c-font-20"></i>
																									<span class="c-sub-title">Free Issues</span>
																								</div>
																								<div class="c-row">
																									<i class="fa fa-times c-font-20"></i>
																									<span class="c-sub-title">Paid Issues</span>
																								</div>
																								<div class="c-row c-price">
																									<span class="c-dollar c-font-20">$</span>
																									<span class="c-font-30 c-font-bold">49</span>
																								</div>
																								<div class="c-row c-purchase">
																									<button class="btn btn-md c-btn-square c-btn-border-2x c-btn-green c-btn-uppercase c-btn-bold">PURCHASE</button>
																								</div>
																							</div>
																						</div>
																						<div class="col-md-3 col-sm-4">
																							<div class="c-content c-column-odd c-padding-adjustment">
																								<div class="c-row c-type c-font-20">Community</div>
																								<div class="c-row c-font-17">100
																									<span class="c-sub-title">End Products</span>
																								</div>
																								<div class="c-row">
																									<i class="fa fa-check c-font-20"></i>
																									<span class="c-sub-title">Standard Features</span>
																								</div>
																								<div class="c-row">
																									<i class="fa fa-check c-font-20"></i>
																									<span class="c-sub-title">Free Issues</span>
																								</div>
																								<div class="c-row">
																									<i class="fa fa-check c-font-20"></i>
																									<span class="c-sub-title">Paid Issues</span>
																								</div>
																								<div class="c-row c-price">
																									<span class="c-dollar c-font-20">$</span>
																									<span class="c-font-30 c-font-bold">99</span>
																								</div>
																								<div class="c-row c-purchase">
																									<button class="btn btn-md c-btn-square c-btn-border-2x c-btn-green c-btn-uppercase c-btn-bold">PURCHASE</button>
																								</div>
																							</div>
																						</div>
																						<div class="col-md-3 col-sm-4">
																							<div class="c-content c-column-even">
																								<div class="c-row c-type c-font-20">Professional</div>
																								<div class="c-row c-font-17">Unlimited
																									<span class="c-sub-title">End Products</span>
																								</div>
																								<div class="c-row">
																									<i class="fa fa-check c-font-20"></i>
																									<span class="c-sub-title">Standard Features</span>
																								</div>
																								<div class="c-row">
																									<i class="fa fa-check c-font-20"></i>
																									<span class="c-sub-title">Free Issues</span>
																								</div>
																								<div class="c-row">
																									<i class="fa fa-check c-font-20"></i>
																									<span class="c-sub-title">Paid Issues</span>
																								</div>
																								<div class="c-row c-price">
																									<span class="c-dollar c-font-20">$</span>
																									<span class="c-font-30 c-font-bold">149</span>
																								</div>
																								<div class="c-row c-purchase">
																									<button class="btn btn-md c-btn-square c-btn-border-2x c-btn-green c-btn-uppercase c-btn-bold">PURCHASE</button>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<!-- END: CONTENT/PRICING/PRICING-6 -->
																		<!-- END: PAGE CONTENT -->
																	</div>
																	<!-- END: PAGE CONTAINER -->
																	<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-6 -->
																	<a name="footer"></a>
																	<footer class="c-layout-footer c-layout-footer-6 c-bg-grey-1">
																		<div class="container">
																			<div class="c-prefooter c-bg-white">
																				<div class="c-head">
																					<div class="row">
																						<div class="col-md-6">
																							<div class="c-left">
																								<div class="socicon">
																									<a href="#" class="socicon-btn socicon-btn-circle socicon-solid c-bg-grey-1 c-font-grey-2 c-theme-on-hover socicon-facebook tooltips" data-original-title="Facebook" data-container="body"></a>
																									<a href="#" class="socicon-btn socicon-btn-circle socicon-solid c-bg-grey-1 c-font-grey-2 c-theme-on-hover socicon-twitter tooltips" data-original-title="Twitter" data-container="body"></a>
																									<a href="#" class="socicon-btn socicon-btn-circle socicon-solid c-bg-grey-1 c-font-grey-2 c-theme-on-hover socicon-youtube tooltips" data-original-title="Youtube" data-container="body"></a>
																									<a href="#" class="socicon-btn socicon-btn-circle socicon-solid c-bg-grey-1 c-font-grey-2 c-theme-on-hover socicon-tumblr tooltips" data-original-title="Tumblr" data-container="body"></a>
																								</div>
																							</div>
																						</div>
																						<div class="col-md-6">
																							<div class="c-right">
																								<h3 class="c-title c-font-uppercase c-font-bold">Download Mobile App</h3>
																								<div class="c-icons">
																									<a href="#" class="c-font-30 c-font-green-1 socicon-btn c-bg-grey-1-hover socicon-android tooltips" data-original-title="Android" data-container="body"></a>
																									<a href="#" class="c-font-30 c-font-grey-3 socicon-btn c-bg-grey-1-hover socicon-apple tooltips" data-original-title="Apple" data-container="body"></a>
																									<a href="#" class="c-font-30 c-font-blue-3 socicon-btn c-bg-grey-1-hover socicon-windows tooltips" data-original-title="Windows" data-container="body"></a>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="c-line"></div>
																				<div class="c-body">
																					<div class="row">
																						<div class="col-md-6 col-sm-6 col-xs-12">
																							<ul class="c-links c-theme-ul">
																								<li>
																									<a href="#">About Jango</a>
																								</li>
																								<li>
																									<a href="#">Privacy Policy</a>
																								</li>
																								<li>
																									<a href="#">Terms & Conditions</a>
																								</li>
																								<li>
																									<a href="#">Delivery</a>
																								</li>
																								<li>
																									<a href="#">Promotions</a>
																								</li>
																								<li>
																									<a href="#">News</a>
																								</li>
																							</ul>
																							<ul class="c-links c-theme-ul">
																								<li>
																									<a href="#">Blogs</a>
																								</li>
																								<li>
																									<a href="#">Projects</a>
																								</li>
																								<li>
																									<a href="#">Clients</a>
																								</li>
																								<li>
																									<a href="#">Services</a>
																								</li>
																								<li>
																									<a href="#">Features</a>
																								</li>
																								<li>
																									<a href="#">Stats</a>
																								</li>
																							</ul>
																						</div>
																						<div class="col-md-6 col-sm-12 col-xs-12">
																							<div class="c-content-title-1 c-title-md">
																								<h3 class="c-title c-font-uppercase c-font-bold">Contact Us</h3>
																								<div class="c-line-left hide"></div>
																							</div>
																							<p class="c-address c-font-16"> 25, Lorem Lis Street, Orange
																								<br/> California, US
																								<br/> Phone: 800 123 3456
																								<br/> Fax: 800 123 3456
																								<br/> Email:
																								<a href="mailto:info@jango.com">
																									<span class="c-theme-color">info@jango.com</span>
																								</a>
																								<br/> Skype:
																								<a href="#">
																									<span class="c-theme-color">jango</span>
																								</a>
																							</p>
																						</div>
																					</div>
																				</div>
																				<div class="c-line"></div>
																				<div class="c-foot">
																					<div class="row">
																						<div class="col-md-7">
																							<div class="c-content-title-1 c-title-md">
																								<h3 class="c-font-uppercase c-font-bold">About
																									<span class="c-theme-font">JANGO</span>
																								</h3>
																								<div class="c-line-left hide"></div>
																							</div>
																							<p class="c-text c-font-16 c-font-regular">Tolerare unus ducunt ad brevis buxum. Est alter buxum, cesaris. Eheu, lura! Racanas crescere in emeritis oenipons! Ubi est rusticus repressor? Lixa grandis clabulare est. Eposs tolerare.</p>
																						</div>
																						<div class="col-md-5">
																							<div class="c-content-title-1 c-title-md">
																								<h3 class="c-font-uppercase c-font-bold">Subscribe to Newsletter</h3>
																								<div class="c-line-left hide"></div>
																							</div>
																							<div class="c-line-left hide"></div>
																							<form action="#">
																								<div class="input-group input-group-lg c-square">
																									<input type="text" class="form-control c-square c-font-grey-3 c-border-grey c-theme" placeholder="Your Email Here" />
																									<span class="input-group-btn">
																										<button class="btn c-theme-btn c-theme-border c-btn-square c-btn-uppercase c-font-16" type="button">Subscribe</button>
																									</span>
																								</div>
																							</form>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="c-postfooter c-bg-dark-2">
																			<div class="container">
																				<div class="row">
																					<div class="col-md-6 col-sm-12 c-col">
																						<p class="c-copyright c-font-grey">2015 &copy; JANGO
																							<span class="c-font-grey-3">All Rights Reserved.</span>
																						</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</footer>
																	<!-- END: LAYOUT/FOOTERS/FOOTER-6 -->
																	<!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
																	<div class="c-layout-go2top">
																		<i class="icon-arrow-up"></i>
																	</div>
																	<!-- END: LAYOUT/FOOTERS/GO2TOP -->
																	<!-- BEGIN: LAYOUT/BASE/BOTTOM -->
																	<!-- BEGIN: CORE PLUGINS -->
        <!--[if lt IE 9]>
	<script src="../assets/global/plugins/excanvas.min.js"></script> 
	<![endif]-->
	<script src="assets/plugins/jquery.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery.easing.min.js" type="text/javascript"></script>
	<script src="assets/plugins/reveal-animate/wow.js" type="text/javascript"></script>
	<script src="assets/base/js/scripts/reveal-animate/reveal-animate.js" type="text/javascript"></script>
	<!-- END: CORE PLUGINS -->
	<!-- BEGIN: LAYOUT PLUGINS -->
	<script src="assets/plugins/revo-slider/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
	<script src="assets/plugins/revo-slider/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
	<script src="assets/plugins/revo-slider/js/extensions/revolution.extension.slideanims.min.js" type="text/javascript"></script>
	<script src="assets/plugins/revo-slider/js/extensions/revolution.extension.layeranimation.min.js" type="text/javascript"></script>
	<script src="assets/plugins/revo-slider/js/extensions/revolution.extension.navigation.min.js" type="text/javascript"></script>
	<script src="assets/plugins/revo-slider/js/extensions/revolution.extension.video.min.js" type="text/javascript"></script>
	<script src="assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
	<script src="assets/plugins/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
	<script src="assets/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
	<script src="assets/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
	<script src="assets/plugins/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
	<script src="assets/plugins/slider-for-bootstrap/js/bootstrap-slider.js" type="text/javascript"></script>
	<!-- END: LAYOUT PLUGINS -->
	<!-- BEGIN: THEME SCRIPTS -->
	<script src="assets/base/js/components.js" type="text/javascript"></script>
	<script src="assets/base/js/components-shop.js" type="text/javascript"></script>
	<script src="assets/base/js/app.js" type="text/javascript"></script>
	<script>
	$(document).ready(function()
	{
                App.init(); // init core    
            });
	</script>
	<!-- END: THEME SCRIPTS -->
	<!-- BEGIN: PAGE SCRIPTS -->
	<script>
	$(document).ready(function()
	{
		var slider = $('.c-layout-revo-slider .tp-banner');
		var cont = $('.c-layout-revo-slider .tp-banner-container');
		var api = slider.show().revolution(
		{
			sliderType: "standard",
			sliderLayout: "fullscreen",
			responsiveLevels: [2048, 1024, 778, 480],
			gridwidth: [1170, 1024, 778, 480],
			gridheight: [620, 768, 960, 720],
			delay: 15000,
			startwidth: 1170,
			startheight: 620,
			touchenabled: "on",
			navigation:
			{
				keyboardNavigation: "off",
				keyboard_direction: "horizontal",
				mouseScrollNavigation: "off",
				onHoverStop: "on",
				arrows:
				{
					style: "circle",
					enable: true,
					hide_onmobile: false,
					hide_onleave: false,
					tmp: '',
					left:
					{
						h_align: "left",
						v_align: "center",
						h_offset: 30,
						v_offset: 0
					},
					right:
					{
						h_align: "right",
						v_align: "center",
						h_offset: 30,
						v_offset: 0
					}
				}
			},
			spinner: "spinner2",
			shadow: 0,
			fullWidth: "off",
			forceFullWidth: "off",
			disableProgressBar: "on",
			hideThumbsOnMobile: "on",
			hideNavDelayOnMobile: 1500,
			hideBulletsOnMobile: "on",
			hideArrowsOnMobile: "on",
			hideThumbsUnderResolution: 0
		});
api.bind("revolution.slide.onchange", function(e, data)
{
	$('.c-layout-header').removeClass('hide');
	setTimeout(function()
	{
		$('.c-singup-form').fadeIn();
	}, 1500);
});
            }); //ready
</script>
<!-- END: PAGE SCRIPTS -->
<!-- END: LAYOUT/BASE/BOTTOM -->
</body>



<!-- Mirrored from themehats.com/themes/jango/home-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Apr 2016 08:54:12 GMT -->
</html>