<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 4.5.3
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->


<!-- Mirrored from www.keenthemes.com/preview/metronic/theme/admin_5/page_user_login_1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 03 Jan 2016 18:34:44 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8" />
    <title>Metronic | User Login 1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/pages/css/login.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" /> </head>
    <!-- END HEAD -->

    <style type="text/css" media="screen">
    .bootstrap-select .btn {
        border-color: #DDE3EC;
    }

    .btn-default {
        color: #333;
        background-color: #DDE3EC;
    }
    </style>

    <body class=" login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href="index-2.html">
                <img src="/layouts/layout5/img/logo.png" alt="" /> </a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN LOGIN -->
            <div class="content">
                <!-- BEGIN LOGIN FORM -->
                <form class="login-form" action="/user/login" method="post">
                    <h3 class="form-title font-green">Sign In</h3>
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <span> Enter any email and password. </span>
                    </div>
                    <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label class="control-label visible-ie8 visible-ie9">Email</label>
                        <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">Password</label>
                            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" /> </div>
                            <div class="form-actions">
                                <button type="submit" class="btn green uppercase">Login</button>
                                <label class="rememberme check">
                                    <input type="checkbox" name="remember" value="1" />Remember </label>
                                    <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                                </div>
                                <div class="login-options">
                                    <h4>Or login with</h4>
                                    <ul class="social-icons">
                                        <li>
                                            <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
                                        </li>
                                        <li>
                                            <a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
                                        </li>
                                        <li>
                                            <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
                                        </li>
                                        <li>
                                            <a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="create-account">
                                    <p>
                                        <a href="javascript:;" id="register-btn" class="uppercase">Create an account</a>
                                    </p>
                                </div>
                            </form>
                            <!-- END LOGIN FORM -->
                            <!-- BEGIN FORGOT PASSWORD FORM -->
                            <form class="forget-form" action="http://www.keenthemes.com/preview/metronic/theme/admin_5/index.html" method="post">
                                <h3 class="font-green">Forget Password ?</h3>
                                <p> Enter your e-mail address below to reset your password. </p>
                                <div class="form-group">
                                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
                                    <div class="form-actions">
                                        <button type="button" id="back-btn" class="btn btn-default">Back</button>
                                        <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
                                    </div>
                                </form>
                                <!-- END FORGOT PASSWORD FORM -->
                                <!-- BEGIN REGISTRATION FORM -->
                                <form class="register-form" action="/user/signup" method="post" enctype="multipart/form-data">
                                    <h3 class="font-green">Sign Up</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="hint"> Enter your personal details below: </p>
                                            <div class="form-group">
                                                <label class="control-label visible-ie8 visible-ie9">First Name</label>
                                                <input class="form-control placeholder-no-fix" type="text" placeholder="First Name" name="first_name" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label visible-ie8 visible-ie9">Last Name</label>
                                                <input class="form-control placeholder-no-fix" type="text" placeholder="Last Name" name="last_name" />
                                            </div>
                                            <div class="form-group">
                                                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                                                <label class="control-label visible-ie8 visible-ie9">Email</label>
                                                <input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email" /> 
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label visible-ie8 visible-ie9">Date of Birth</label>
                                                <input class="form-control placeholder-no-fix" type="date" placeholder="Date" name="date" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label visible-ie8 visible-ie9">Username</label>
                                                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" /> 
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label visible-ie8 visible-ie9">Password</label>
                                                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password" name="password" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
                                                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" name="rpassword" /> 
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="hint"> Enter your account details below: </p>
                                            <div class="form-group">
                                                <select class="form-control" name="sttus">
                                                    <option disabled value="" selected="true">Current Status</option>
                                                    <option>Graduate Unemployed</option>
                                                    <option>Graduate Employed</option>
                                                    <option>Undergraduate Ongoing</option>
                                                    <option>Postgraduate Ongoing</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" name="preferred_sector">
                                                    <option disabled value="" selected="true">Preferred Sector</option>
                                                    <%include ./partials/sector_list.ejs %>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" name="institution" placeholder="Institution"/> 
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" name="preferred_sector">
                                                    <option disabled value="" selected="true">Select Course</option>
                                                    <%include ./partials/course_list.ejs %>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" name="preferred_sector">
                                                    <option disabled value="" selected="true">Preferred Loaction</option>
                                                    <%include ./partials/location_list.ejs %>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" name="passing_year" placeholder="Passing year"/> 
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control placeholder-no-fix" type="file" autocomplete="off" name="user_image" value="Image"  /> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group margin-top-20 margin-bottom-20">
                                        <label class="check">
                                            <input type="checkbox" name="tnc" /> I agree to the
                                            <a href="javascript:;"> Terms of Service </a> &
                                            <a href="javascript:;"> Privacy Policy </a>
                                        </label>
                                        <div id="register_tnc_error"> </div>
                                    </div>
                                    <div class="form-group margin-top-20 margin-bottom-20">
                                        <div style="display:none" class="custom-alerts alert alert-warning fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><i class="fa-spin fa-refresh"></i> please wait</div>
                                        <div style="display:none" class="custom-alerts alert alert-success fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><i class="icon-check"></i> Sign up successful.</div>
                                        <div style="display:none" class="custom-alerts alert alert-danger fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><i class="icon-close"></i> Something went wrong please try again.</div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="button" id="register-back-btn" class="btn btn-default">Back</button>
                                        <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Submit</button>
                                    </div>
                                </form>
                                <!-- END REGISTRATION FORM -->
                            </div>
                            <!-- <div class="copyright"> 2014 © Metronic. Admin Dashboard Template. </div> -->
        <!--[if lt IE 9]>
<script src="/global/plugins/respond.min.js"></script>
<script src="/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<!-- END THEME LAYOUT SCRIPTS -->
<script>
$('.bs-select').selectpicker({
    iconBase: 'fa',
    tickIcon: 'fa-check'
});

$('#account_type').change(function(event) {
    if($(this).val()=="job_seeker")
    {
        $('.job_seeker').slideDown('slow', function() {
            $('.recruiter').slideUp('slow')
        });
    }
    else
    {
      $('.recruiter').slideDown('slow', function() {
        $('.job_seeker').slideUp('slow')
    });
  }
});
</script>

<script >
//for signup
var Login = function() {
    var handleLogin = function() {

        $('.login-form').validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            rules: {
                username: {
                    required: true
                },
                password: {
                    required: true
                },
                remember: {
                    required: false
                }
            },

            messages: {
                username: {
                    required: "Username is required."
                },
                password: {
                    required: "Password is required."
                }
            },

            invalidHandler: function(event, validator) { //display error alert on form submit   
                $('.alert-danger', $('.login-form')).show();
            },

            highlight: function(element) { // hightlight error inputs
                $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                success: function(label) {
                    label.closest('.form-group').removeClass('has-error');
                    label.remove();
                },

                errorPlacement: function(error, element) {
                    error.insertAfter(element.closest('.input-icon'));
                },

                submitHandler: function(form) {
                form.submit(); // form validation success, call ajax form submit
            }
        });

$('.login-form input').keypress(function(e) {
    if (e.which == 13) {
        if ($('.login-form').validate().form()) {
                    $('.login-form').submit(); //form validation success, call ajax form submit
                }
                return false;
            }
        });
}

var handleForgetPassword = function() {
    $('.forget-form').validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "",
            rules: {
                email: {
                    required: true,
                    email: true
                }
            },

            messages: {
                email: {
                    required: "Email is required."
                }
            },

            invalidHandler: function(event, validator) { //display error alert on form submit   

            },

            highlight: function(element) { // hightlight error inputs
                $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                success: function(label) {
                    label.closest('.form-group').removeClass('has-error');
                    label.remove();
                },

                errorPlacement: function(error, element) {
                    error.insertAfter(element.closest('.input-icon'));
                },

                submitHandler: function(form) {
                    form.submit();
                }
            });

$('.forget-form input').keypress(function(e) {
    if (e.which == 13) {
        if ($('.forget-form').validate().form()) {
            $('.forget-form').submit();
        }
        return false;
    }
});

jQuery('#forget-password').click(function() {
    jQuery('.login-form').hide();
    jQuery('.forget-form').show();
});

jQuery('#back-btn').click(function() {
    jQuery('.login-form').show();
    jQuery('.forget-form').hide();
});

}

var handleRegister = function() {

    function format(state) {
        if (!state.id) { return state.text; }
        var $state = $(
           '<span><img src="/global/img/flags/' + state.element.value.toLowerCase() + '.png" class="img-flag" /> ' + state.text + '</span>'
           );

        return $state;
    }

    if (jQuery().select2 && $('#country_list').size() > 0) {
        $("#country_list").select2({
            placeholder: '<i class="fa fa-map-marker"></i>&nbsp;Select a Country',
            templateResult: format,
            templateSelection: format,
            width: 'auto', 
            escapeMarkup: function(m) {
                return m;
            }
        });


        $('#country_list').change(function() {
                $('.register-form').validate().element($(this)); //revalidate the chosen dropdown value and show error or success message for the input
            });
    }

    $('.register-form').validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "",
            rules: {

                fullname: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                address: {
                    required: true
                },
                city: {
                    required: true
                },
                country: {
                    required: true
                },

                username: {
                    required: true
                },
                password: {
                    required: true
                },
                rpassword: {
                    equalTo: "#register_password"
                },

                tnc: {
                    required: true
                }
            },

            messages: { // custom messages for radio buttons and checkboxes
                tnc: {
                    required: "Please accept TNC first."
                }
            },

            invalidHandler: function(event, validator) { //display error alert on form submit   

            },

            highlight: function(element) { // hightlight error inputs
                $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                success: function(label) {
                    $('.alert-success').slideDown('slow');
                    label.closest('.form-group').removeClass('has-error');
                    label.remove();
                },

                errorPlacement: function(error, element) {
                if (element.attr("name") == "tnc") { // insert checkbox errors after the container                  
                    error.insertAfter($('#register_tnc_error'));
                } else if (element.closest('.input-icon').size() === 1) {
                    error.insertAfter(element.closest('.input-icon'));
                } else {
                    error.insertAfter(element);
                }
            },

            submitHandler: function(form) {
                form.submit();
                // $.post('/user/signup', , function(data, textStatus, xhr) {
                // });
}
});

$('.register-form input').keypress(function(e) {
    if (e.which == 13) {
        if ($('.register-form').validate().form()) {
            $('.register-form').submit();
        }
        return false;
    }
});

jQuery('#register-btn').click(function() {
    jQuery('.login-form').hide();
    jQuery('.register-form').show();
});

jQuery('#register-back-btn').click(function() {
    jQuery('.login-form').show();
    jQuery('.register-form').hide();
});
}

return {
        //main function to initiate the module
        init: function() {

            handleLogin();
            handleForgetPassword();
            handleRegister();
        }
    };
}();

Login.init();
</script>
</body>
</html>