<%include ./partials/header.ejs %>

<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/pages/css/profile.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->

<div class="row">
  <div class="col-md-12">
    <!-- BEGIN PROFILE SIDEBAR -->
    <div class="profile-sidebar">
      <!-- PORTLET MAIN -->
      <div class="portlet light profile-sidebar-portlet bordered">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="/user_images/<%= user.user_image %>" class="img-responsive" alt=""> </div>
          <!-- END SIDEBAR USERPIC -->
          <!-- SIDEBAR USER TITLE -->
          <div class="profile-usertitle">
            <div class="profile-usertitle-name"> <%= user.first_name + ' ' + user.last_name %> </div>
            <div class="profile-usertitle-job"> Job Seeker </div>
          </div>
          <!-- END SIDEBAR USER TITLE -->
          <!-- SIDEBAR BUTTONS -->
          <div class="profile-userbuttons">
            <!-- <button type="button" class="btn btn-circle green btn-sm">Follow</button> -->
            <a href="/inbox" class="btn btn-circle red btn-sm">Inbox</a>
          </div>
          <!-- END SIDEBAR BUTTONS -->
          <!-- SIDEBAR MENU -->
          <div class="profile-usermenu">
            <ul class="nav">
              <li class="active">
                <a href="/user/profile">
                  <i class="icon-home"></i> Your overall activity 
                </a>
              </li>
              <li>
                <a href="/user/edit_profile">
                  <i class="icon-settings"></i> Edit Profile Information
                </a>
              </li>
              <li>
                <a href="/user/skills/<%= user._id %>">
                  <i class="icon-info"></i> Skills and Qualifications 
                </a>
              </li>
            </ul>
          </div>
          <!-- END MENU -->
        </div>
        <!-- END PORTLET MAIN -->
        <div class="portlet light bordered">
          <div class="portlet-title">
            <div class="caption">
              <i class="icon-cursor font-dark hide"></i>
              <span class="caption-subject font-dark bold uppercase">Profile Strength</span>
            </div>
            <div class="actions">
              <a href="javascript:;" data-toggle="modal" data-target="#info_modal" class="btn btn-sm btn-default btn-circle easy-pie-chart-reload">
                <i class="fa fa-info"></i> Info </a>
              </div>
            </div>
            <div class="portlet-body" style="height:112px">
              <div class="row">
                <div class="col-md-12">
                  <div class="easy-pie-chart">
                    <div class="number transactions" data-percent="55">
                      <span>Gamma(γ)</span>
                    </div>
                  </div>
                </div>      
              </div>
            </div>
          </div>
          <!-- PORTLET MAIN -->
          <div class="portlet light bordered">
            <!-- STAT -->
            <div class="row list-separated profile-stat">
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title"> 37 </div>
                <div class="uppercase profile-stat-text"> Projects </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title"> 51 </div>
                <div class="uppercase profile-stat-text"> Tasks </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title"> 61 </div>
                <div class="uppercase profile-stat-text"> Uploads </div>
              </div>
            </div>
            <!-- END STAT -->
            <div>
              <div class="margin-top-20 profile-desc-link">
                <i class="fa fa-globe"></i>
                <a href="http://www.keenthemes.com">www.keenthemes.com</a>
              </div>
              <div class="margin-top-20 profile-desc-link">
                <i class="fa fa-twitter"></i>
                <a href="http://www.twitter.com/keenthemes/">@keenthemes</a>
              </div>
              <div class="margin-top-20 profile-desc-link">
                <i class="fa fa-facebook"></i>
                <a href="http://www.facebook.com/keenthemes/">keenthemes</a>
              </div>
            </div>
          </div>
          <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
          <div class="row hidden">
            <div class="col-md-6">
              <!-- BEGIN PORTLET -->
              <div class="portlet light bordered">
                <div class="portlet-title">
                  <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Your Activity</span>
                    <span class="caption-helper hide">weekly stats...</span>
                  </div>
                  <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                      <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                        <input type="radio" name="options" class="toggle" id="option1">Today</label>
                        <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                          <input type="radio" name="options" class="toggle" id="option2">Week</label>
                          <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                            <input type="radio" name="options" class="toggle" id="option2">Month</label>
                          </div>
                        </div>
                      </div>
                      <div class="portlet-body">
                      </div>
                    </div>
                    <!-- END PORTLET -->
                  </div>
                  <div class="col-md-6">
                    <!-- BEGIN PORTLET -->
                    <div class="portlet light bordered">
                      <div class="portlet-title tabbable-line">
                        <div class="caption caption-md">
                          <i class="icon-globe theme-font hide"></i>
                          <span class="caption-subject font-blue-madison bold uppercase">Feeds</span>
                        </div>
                        <ul class="nav nav-tabs">
                          <li class="active">
                            <a href="#tab_1_1" data-toggle="tab"> System </a>
                          </li>
                          <li>
                            <a href="#tab_1_2" data-toggle="tab"> Activities </a>
                          </li>
                        </ul>
                      </div>
                      <div class="portlet-body">
                      </div>
                    </div>
                    <!-- END PORTLET -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <!-- BEGIN PORTLET -->
                    <div class="portlet light bordered">
                      <div class="portlet-title">
                        <div class="caption caption-md">
                          <i class="icon-bar-chart theme-font hide"></i>
                          <span class="caption-subject font-blue-madison bold uppercase">Saved Jobs</span>
                        </div>
                        <div class="inputs">
                          <div class="portlet-input input-inline input-small ">
                            <div class="input-icon right">
                              <i class="icon-magnifier"></i>
                              <input type="text" class="form-control form-control-solid" placeholder="     search..."> </div>
                            </div>
                          </div>
                        </div>
                        <div class="portlet-body">

                          <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th>Company</th>
                                <th>Job title</th>
                                <th>Deadline</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Bangladesh Army</td>
                                <td>Bangladesh Army on 708th long course.</td>
                                <td>
                                  <div class="mt-action-datetime ">
                                    <span class="mt-action-date">3 jun</span>
                                    <span class="mt-action-dot bg-green"></span>
                                    <span class="mt=action-time">9:30-13:00</span>
                                  </div>
                                </td>
                                <td>
                                  <div class="mt-action-buttons ">
                                    <div class="btn-group btn-group-circle">
                                      <button type="button" class="btn btn-outline green btn-sm">Apply</button>
                                      <button type="button" class="btn btn-outline red btn-sm">Remove</button>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          
                        </div>
                      </div>
                      <!-- END PORTLET -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <!-- BEGIN PORTLET -->
                      <div class="portlet light bordered">
                        <div class="portlet-title">
                          <div class="caption caption-md">
                            <i class="icon-bar-chart theme-font hide"></i>
                            <span class="caption-subject font-blue-madison bold uppercase">Applied jobs timeline</span>
                          </div>
                          <div class="inputs">
                            <div class="portlet-input input-inline input-small ">
                              <div class="input-icon right">
                                <i class="icon-magnifier"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="    search..."> </div>
                              </div>
                            </div>
                          </div>
                          <div class="portlet-body">
                            <div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                              <div class="general-item-list">
                                <div class="item">
                                  <div class="item-head">
                                    <div class="item-details">
                                      <img class="item-pic" src="/pages/media/users/avatar4.jpg">
                                      <a href="" class="item-name primary-link">Nick Larson</a>
                                      <span class="item-label">3 hrs ago</span>
                                    </div>
                                    <span class="item-status">
                                      <span class="badge badge-empty badge-success"></span> Open</span>
                                    </div>
                                    <div class="item-body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                                  </div>
                                  <div class="item">
                                    <div class="item-head">
                                      <div class="item-details">
                                        <img class="item-pic" src="/pages/media/users/avatar3.jpg">
                                        <a href="" class="item-name primary-link">Mark</a>
                                        <span class="item-label">5 hrs ago</span>
                                      </div>
                                      <span class="item-status">
                                        <span class="badge badge-empty badge-warning"></span> Pending</span>
                                      </div>
                                      <div class="item-body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat tincidunt ut laoreet. </div>
                                    </div>
                                    <div class="item">
                                      <div class="item-head">
                                        <div class="item-details">
                                          <img class="item-pic" src="/pages/media/users/avatar6.jpg">
                                          <a href="" class="item-name primary-link">Nick Larson</a>
                                          <span class="item-label">8 hrs ago</span>
                                        </div>
                                        <span class="item-status">
                                          <span class="badge badge-empty badge-primary"></span> Closed</span>
                                        </div>
                                        <div class="item-body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh. </div>
                                      </div>
                                      <div class="item">
                                        <div class="item-head">
                                          <div class="item-details">
                                            <img class="item-pic" src="/pages/media/users/avatar7.jpg">
                                            <a href="" class="item-name primary-link">Nick Larson</a>
                                            <span class="item-label">12 hrs ago</span>
                                          </div>
                                          <span class="item-status">
                                            <span class="badge badge-empty badge-danger"></span> Pending</span>
                                          </div>
                                          <div class="item-body"> Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                                        </div>
                                        <div class="item">
                                          <div class="item-head">
                                            <div class="item-details">
                                              <img class="item-pic" src="/pages/media/users/avatar9.jpg">
                                              <a href="" class="item-name primary-link">Richard Stone</a>
                                              <span class="item-label">2 days ago</span>
                                            </div>
                                            <span class="item-status">
                                              <span class="badge badge-empty badge-danger"></span> Open</span>
                                            </div>
                                            <div class="item-body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, ut laoreet dolore magna aliquam erat volutpat. </div>
                                          </div>
                                          <div class="item">
                                            <div class="item-head">
                                              <div class="item-details">
                                                <img class="item-pic" src="/pages/media/users/avatar8.jpg">
                                                <a href="" class="item-name primary-link">Dan</a>
                                                <span class="item-label">3 days ago</span>
                                              </div>
                                              <span class="item-status">
                                                <span class="badge badge-empty badge-warning"></span> Pending</span>
                                              </div>
                                              <div class="item-body"> Lorem ipsum dolor sit amet, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                                            </div>
                                            <div class="item">
                                              <div class="item-head">
                                                <div class="item-details">
                                                  <img class="item-pic" src="/pages/media/users/avatar2.jpg">
                                                  <a href="" class="item-name primary-link">Larry</a>
                                                  <span class="item-label">4 hrs ago</span>
                                                </div>
                                                <span class="item-status">
                                                  <span class="badge badge-empty badge-success"></span> Open</span>
                                                </div>
                                                <div class="item-body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- END PORTLET -->
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="portlet light portlet-fit bordered">
                                        <div class="portlet-title">
                                          <div class="caption">
                                            <i class="icon-microphone font-green"></i>
                                            <span class="caption-subject bold font-green uppercase"> Saved Events</span>
                                            <span class="caption-helper">List of your sved events</span>
                                          </div>
                                          <div class="actions">
                                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                              <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                                <input type="radio" name="options" class="toggle" id="option1">Actions</label>
                                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                                  <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="portlet-body">
                                             <table class="table table-striped table-hover">
                                              <thead>
                                                <tr>
                                                  <th>Event name</th>
                                                  <th>Location</th>
                                                  <th>Event type</th>
                                                  <th>Date</th>
                                                  <th>Action</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <td>Deloitte Graduate Insight Day</td>
                                                  <td>Deloitte Dhaka Office, 2 New Street Square, Dhaka</td>
                                                  <td>Training Program</td>
                                                  <td>
                                                    <div class="mt-action-datetime ">
                                                      <span class="mt-action-date">3 jun, 2015</span>
                                                      <span class="mt-action-dot bg-green"></span>
                                                      <span class="mt=action-time">9:30-13:00</span>
                                                    </div>
                                                  </td>
                                                  <td>
                                                    <div class="mt-action-buttons ">
                                                      <div class="btn-group btn-group-circle">
                                                        <button type="button" class="btn btn-outline green btn-sm">View Details</button>
                                                        <button type="button" class="btn btn-outline red btn-sm">Remove</button>
                                                      </div>
                                                    </div>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- END PROFILE CONTENT -->
                                  </div>
                                </div>

                                <!-- BEGIN PAGE LEVEL PLUGINS -->
                                <script src="/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
                                <script src="/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
                                <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
                                <script src="/global/plugins/gmaps/gmaps.min.js" type="text/javascript"></script>
                                <script src="/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
                                <!-- END PAGE LEVEL PLUGINS -->

                                <!-- BEGIN PAGE LEVEL SCRIPTS -->
                                <script src="/pages/scripts/profile.min.js" type="text/javascript"></script>
                                <!-- END PAGE LEVEL SCRIPTS -->

                                <script type="text/javascript">
                                function easy_pie_chart() {
                                  if (!jQuery().easyPieChart) {
                                    console.log("Here");
                                    return;
                                  }

                                  $('.easy-pie-chart .number.transactions').easyPieChart({
                                    animate: 1000,
                                    size: 110,
                                    lineWidth: 10,
                                    scaleColor:  App.getBrandColor('blue'),
                                    barColor: App.getBrandColor('yellow')
                                  });

                                  $('.easy-pie-chart .number canvas').css('position', 'absolute');
                                  $('.easy-pie-chart .number canvas').css('left', '-13px');   
                                  $('.easy-pie-chart .number canvas').css('top', '-15px');   
                                }

                                jQuery(document).ready(function($) {
                                  easy_pie_chart();
                                });

                                </script>

                                <div class="modal fade" id="info_modal">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title"><span class="main_title">Information on AlphaGrads profile strength<span></h4>
                                      </div>
                                      <div class="modal-body">
                                        <p>
                                          It's simply a indicator of the Profile Completeness section, designed to encourage AlphaGrads users to add as much self-curated data as possible.
                                        </p>
                                        <p>
                                          You can achieve 'Alpha' status by:
                                        </p>
                                        <ol class="list-group">
                                          <li class="list-group-item">1. Adding a profile photo</li>
                                          <li class="list-group-item">2. Listing 2 or more positions you’ve held, in the experience section</li>
                                          <li class="list-group-item">3. Having 5 or more different skills on your profile</li>
                                          <li class="list-group-item">4. Writing a summary about yourself</li>
                                          <li class="list-group-item">5. Filling out the Profile Information Completely</li>
                                          <li class="list-group-item">6. Uploading a CV</li>
                                          <li class="list-group-item">7. Attending atleast one alpha grads Event</li>
                                        </ol>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <%include ./partials/footer.ejs %>
