<%include ./partials/header.ejs %>
<link href="../global/plugins/cubeportfolio/css/cubeportfolio.css" rel="stylesheet" type="text/css" />
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="../pages/css/portfolio.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->

<!-- BEGIN PAGE BASE CONTENT -->
<div class="portfolio-content portfolio-1">
	<div id="js-filters-juicy-projects" class="cbp-l-filters-button">
		<div data-filter=".sectors" class="cbp-filter-item-active cbp-filter-item btn dark btn-outline uppercase"> Sectors
			<div class="cbp-filter-counter"></div>
		</div>
		<div data-filter=".industries" class="cbp-filter-item btn dark btn-outline uppercase"> Industries
			<div class="cbp-filter-counter"></div>
		</div>
	</div>
	<div id="js-grid-juicy-projects" class="cbp">
		<div class="cbp-item sectors graphic">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/013.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Accounting &amp; Finance</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">Web Design / Graphic</div>
		</div>
		<div class="cbp-item sectors web-design logos">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/05.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Aerospace &amp; Defence</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Logo / Web Design</div>
		</div>
		<div class="cbp-item sectors graphic logos">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/16.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Banking</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Logo</div>
		</div>
		<div class="cbp-item sectors web-design graphic">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/33.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Business &amp; Management</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Web Design / Graphic</div>
		</div>
		<div class="cbp-item sectors identity web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/38.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Construction &amp; Property</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Web Design / Identity</div>
		</div>
		<div class="cbp-item sectors identity web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/88.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Consultancy &amp; Strategy</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Identity / Web Design</div>
		</div>
		<div class="cbp-item sectors graphic logos">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/02.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Consumer Goods &amp; FMCG</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Logo</div>
		</div>
		<div class="cbp-item sectors identity graphic">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/62.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Education &amp; Training</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Identity / Graphic</div>
		</div>
		<div class="cbp-item sectors web-design graphic">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/81.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Energy, Environmental &amp; Agriculture</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Web Design / Graphic</div>
		</div>
		<div class="cbp-item sectors identity web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/87.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Engineering &amp; Manufacturing</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Identity / Web Design</div>
		</div>
		<div class="cbp-item sectors identity logos">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/102.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Hospitality &amp; Tourism</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Identity / Logo</div>
		</div>
		<div class="cbp-item sectors graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">HR &amp; Recruitment</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item sectors graphic">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/013.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Insurance</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">Web Design / Graphic</div>
		</div>
		<div class="cbp-item sectors web-design logos">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/05.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">IT &amp; Telecommunications</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Logo / Web Design</div>
		</div>
		<div class="cbp-item sectors graphic logos">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/16.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Legal</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Logo</div>
		</div>
		<div class="cbp-item sectors web-design graphic">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/33.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Logistics &amp; Transport</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Web Design / Graphic</div>
		</div>
		<div class="cbp-item sectors identity web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/38.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Marketing &amp; PR</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Web Design / Identity</div>
		</div>
		<div class="cbp-item sectors identity web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/88.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Media &amp; Publishing</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Identity / Web Design</div>
		</div>
		<div class="cbp-item sectors graphic logos">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/02.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Medical &amp; Pharmaceutical</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Logo</div>
		</div>
		<div class="cbp-item sectors identity graphic">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/62.jpg" alt="">
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Public Sector</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Identity / Graphic</div>
		</div>
		<div class="cbp-item sectors web-design graphic">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/81.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Retail, Buying &amp; Merchandising</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Web Design / Graphic</div>
		</div>
		<div class="cbp-item sectors identity web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/87.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Sales</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Identity / Web Design</div>
		</div>
		<div class="cbp-item sectors identity logos">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/102.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Science &amp; Research</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Identity / Logo</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Agro based Industry</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Archi./Engg./Construction</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Automobile/Industrial Machine</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Bank/Non-Bank Fin. Institution</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Education</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Electronics/Consumer Durables </div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Energy/Power/Fuel</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Garments/Textile</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Govt./Semi-Govt./Autonomous  </div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Pharmaceuticals</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Hospital/ Diagnostic Center</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Airline/ Travel/ Tourism</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Manufacturing (Light Industry)</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Manufacturing (Heavy Industry)</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Hotel/Restaurant </div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Information Technology (IT)</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Logistics/ Transportation </div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Entertainment/ Recreation</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Media / Advertising/ Event Mgt.</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">NGO/Development</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Real Estate/Development</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Wholesale/ Retail/ Export-Import</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Telecommunication</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Food &amp; Beverage Industry</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Security Service</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>
		<div class="cbp-item industries graphic web-design">
			<div class="cbp-caption">
				<div class="cbp-caption-defaultWrap">
					<img src="../global/img/portfolio/600x600/96.jpg" alt=""> 
				</div>
				<div class="cbp-caption-activeWrap">
					<div class="cbp-l-caption-alignCenter">
						<div class="cbp-l-caption-body">
							<a href="../global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">Show Jobs
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cbp-l-grid-projects-title uppercase text-center">Fire, Safety &amp; Protection</div>
			<div class="cbp-l-grid-projects-desc uppercase text-center">Graphic / Web Design</div>
		</div>		
	</div>
</div>


<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../pages/scripts/portfolio-1.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<%include ./partials/footer.ejs %>Others