<!DOCTYPE html>
<html>
  <head>
    <%include ./partials/header.ejs %>
    <%- css('bootstrap-theme')%>
    <%- css('style') %>
  </head>
  <body>
    <%include ./partials/navigation.ejs %>

    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">

        <h1>
          <span.fa.fa-sign-in> Sign Up </span>
        </h1>

        <% if (message.length > 0) { %>
          <div class="alert alert-danger">
            <span> <%= message %> </span>
          </div>
        <% } %>
        <br>
        <br>
        <form class="" action="/user/signup" method="post">

          <div class="form-group">
            <label for="">Email</label>
            <input class = "form-control" type="text" name="email" value="">
          </div>

          <div class="form-group">
            <label for="">Password</label>
            <input class = "form-control" type="password" name="password" value="">
          </div>

          <div class="form-group">
            <label for="">First Name</label>
            <input class = "form-control" name="first_name" type="text" value="">
          </div>

          <div class="form-group">
            <label for="">Last Name</label>
            <input class = "form-control" name="last_name" type="text" value="">
          </div>

          <div class="form-group">
              <label for="">Date of Birth</label>
              <input class = "form-control" type="date" name="birth_date" >
          </div>


          <button type="submit" name="submit" class="btn btn-warning"> Submit </button>
        </form>

        <hr>

      </div>
    </div>
    <%include ./partials/footer.ejs %>
  </body>
</html>
