<%include ./partials/header.ejs %>
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/pages/css/profile.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->

<style type="text/css">
.portlet {
    border-radius: 4px!important;
}
.portlet>.portlet-title {
    border-radius: 4px 4px 0 0!important;
}

.empty_portlet
{
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
</style>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet bordered">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                  <img src="/user_images/<%= user.user_image %>" class="img-responsive" alt=""> </div>
                  <!-- END SIDEBAR USERPIC -->
                  <!-- SIDEBAR USER TITLE -->
                  <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> <%= user.first_name + ' ' + user.last_name %> </div>
                    <div class="profile-usertitle-job"> Job Seeker </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <a href="/inbox" class="btn btn-circle red btn-sm">Inbox</a>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                      <li >
                        <a href="/user/profile">
                          <i class="icon-home"></i> Your overall activity 
                      </a>
                  </li>
                  <li>
                    <a href="/user/edit_profile">
                      <i class="icon-settings"></i> Edit Profile Information
                  </a>
              </li>
              <li class="active">
                <a href="/user/skills/<%= user._id %>">
                  <i class="icon-info"></i> Skills and Qualifications 
              </a>
          </li>
      </ul>
  </div>
  <!-- END MENU -->
</div>
<!-- END PORTLET MAIN -->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-cursor font-dark hide"></i>
            <span class="caption-subject font-dark bold uppercase">Profile Strength</span>
        </div>
        <div class="actions">
            <a href="javascript:;" data-toggle="modal" data-target="#info_modal" class="btn btn-sm btn-default btn-circle easy-pie-chart-reload">
                <i class="fa fa-info"></i> Info 
            </a>
        </div>
    </div>
    <div class="portlet-body" style="height:112px">
        <div class="row">
            <div class="col-md-12">
                <div class="easy-pie-chart">
                    <div class="number transactions" data-percent="55">
                        <span>Gamma(γ)</span>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</div>
<!-- PORTLET MAIN -->
<div class="portlet light bordered">
    <!-- STAT -->
    <div class="row list-separated profile-stat">
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="uppercase profile-stat-title"> 37 </div>
            <div class="uppercase profile-stat-text"> Projects </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="uppercase profile-stat-title"> 51 </div>
            <div class="uppercase profile-stat-text"> Tasks </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="uppercase profile-stat-title"> 61 </div>
            <div class="uppercase profile-stat-text"> Uploads </div>
        </div>
    </div>
    <!-- END STAT -->
    <div>
        <div class="margin-top-20 profile-desc-link">
            <i class="fa fa-globe"></i>
            <a href="http://www.keenthemes.com">www.keenthemes.com</a>
        </div>
        <div class="margin-top-20 profile-desc-link">
            <i class="fa fa-twitter"></i>
            <a href="http://www.twitter.com/keenthemes/">@keenthemes</a>
        </div>
        <div class="margin-top-20 profile-desc-link">
            <i class="fa fa-facebook"></i>
            <a href="http://www.facebook.com/keenthemes/">keenthemes</a>
        </div>
    </div>
</div>
<!-- END PORTLET MAIN -->
</div>
<!-- END BEGIN PROFILE SIDEBAR -->

<!-- BEGIN PROFILE CONTENT -->
<div class="profile-content">
    <div class="portlet light bordered">
        <div class="portlet-body">
            <a style="width:10%" scroll-to="education" class="icon-btn top_button">
                <i class="fa fa-pencil"></i>
                <div> Education </div>
                <span class="badge badge-danger"></span>
            </a>
            <a style="width:10%" scroll-to="experience" class="icon-btn top_button">
                <i class="fa fa-calendar"></i>
                <div> Experience </div>
                <span class="badge badge-danger"></span>
            </a>
            <a style="width:10%" scroll-to="language" class="icon-btn top_button">
                <i class="fa fa-language"></i>
                <div> Language </div>
                <span class="badge badge-danger"></span>
            </a>
            <a style="width:10%" scroll-to="volunteering" class="icon-btn top_button">
                <i class="fa fa-users"></i>
                <div> Volunteering </div>
                <span class="badge badge-danger"></span>
            </a>
            <a style="width:10%" scroll-to="honors" class="icon-btn top_button">
                <i class="fa fa-trophy"></i>
                <div> Honors Awards </div>
                <span class="badge badge-danger"></span>
            </a>
            <a style="width:10%" scroll-to="courses" class="icon-btn top_button">
                <i class="fa fa-newspaper-o"></i>
                <div> Courses </div>
                <span class="badge badge-danger"></span>
            </a>
            <a style="width:10%" scroll-to="publications" class="icon-btn top_button">
                <i class="fa fa-file-powerpoint-o"></i>
                <div> Publications </div>
                <span class="badge badge-danger"></span>
            </a>
            <a style="width:10%" scroll-to="certifications" class="icon-btn top_button">
                <i class="fa fa-graduation-cap"></i>
                <div> Certifications </div>
                <span class="badge badge-danger"></span>
            </a>
            <a style="width:10%" scroll-to="test_scores" class="icon-btn top_button">
                <i class="fa fa-sort-numeric-desc"></i>
                <div> Test Scores </div>
                <span class="badge badge-danger"></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Education 
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="" class="fullscreen"> </a>
                    </div>
                    <div class="actions">
                        <a  id="education" class="btn btn-default btn-sm add_trigger" data-toggle="modal" data-target="#add_modal">
                            <i class="fa fa-plus"></i> Add New 
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="education_body" class="empty_portlet scroller" style="height:400px" data-always-visible="0" data-rail-visible="1" data-rail-color="blue" data-handle-color="red">
                        <span>
                            No education history has been added
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Experience 
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="" class="fullscreen"> </a>
                        
                    </div>
                    <div class="actions">
                        <a  id="experience" class="btn btn-default btn-sm add_trigger" data-toggle="modal" data-target="#add_modal">
                            <i class="fa fa-plus"></i> Add New 
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="experience_body" class="empty_portlet scroller" style="height:400px" data-always-visible="0" data-rail-visible="1" data-rail-color="blue" data-handle-color="red">
                        <span>
                            No experience history has been added
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Language 
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="" class="fullscreen"> </a>
                        
                    </div>
                    <div class="actions">
                        <a  id="language" class="btn btn-default btn-sm add_trigger" data-toggle="modal" data-target="#add_modal">
                            <i class="fa fa-plus"></i> Add New 
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="language_body" class="empty_portlet scroller" style="height:400px" data-always-visible="0" data-rail-visible="1" data-rail-color="blue" data-handle-color="red">
                        <span>
                            No language history has been added
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Volunteering 
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="" class="fullscreen"> </a>
                        
                    </div>
                    <div class="actions">
                        <a  id="volunteering" class="btn btn-default btn-sm add_trigger" data-toggle="modal" data-target="#add_modal">
                            <i class="fa fa-plus"></i> Add New 
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="volunteering_body" class="empty_portlet scroller" style="height:400px" data-always-visible="0" data-rail-visible="1" data-rail-color="blue" data-handle-color="red">
                        <span>
                            No volunteering history has been added
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Honors 
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="" class="fullscreen"> </a>
                    </div>
                    <div class="actions">
                        <a  id="honors" class="btn btn-default btn-sm add_trigger" data-toggle="modal" data-target="#add_modal">
                            <i class="fa fa-plus"></i> Add New 
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="honors_body" class="empty_portlet scroller" style="height:400px" data-always-visible="0" data-rail-visible="1" data-rail-color="blue" data-handle-color="red">
                        <span>
                            No honours and awards history has been added
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Courses 
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="" class="fullscreen"> </a>
                    </div>
                    <div class="actions">
                        <a  id="course" class="btn btn-default btn-sm add_trigger" data-toggle="modal" data-target="#add_modal">
                            <i class="fa fa-plus"></i> Add New 
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="courses_body" class="empty_portlet scroller" style="height:400px" data-always-visible="0" data-rail-visible="1" data-rail-color="blue" data-handle-color="red">
                        <span>
                            No course history has been added
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Publications 
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="" class="fullscreen"> </a>
                    </div>
                    <div class="actions">
                        <a  id="publications" class="btn btn-default btn-sm add_trigger" data-toggle="modal" data-target="#add_modal">
                            <i class="fa fa-plus"></i> Add New 
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="publications_body" class="empty_portlet scroller" style="height:400px" data-always-visible="0" data-rail-visible="1" data-rail-color="blue" data-handle-color="red">
                        <span>
                            No publications history has been added
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Certifications 
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="" class="fullscreen"> </a>
                        
                    </div>
                    <div class="actions">
                        <a  id="certifications" class="btn btn-default btn-sm add_trigger" data-toggle="modal" data-target="#add_modal">
                            <i class="fa fa-plus"></i> Add New 
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="certifications_body" class="empty_portlet scroller" style="height:400px" data-always-visible="0" data-rail-visible="1" data-rail-color="blue" data-handle-color="red">
                        <span>
                            No certifications history has been added
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Test scores 
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="" class="fullscreen"> </a>
                        
                    </div>
                    <div class="actions">
                        <a  id="test_scores" class="btn btn-default btn-sm add_trigger" data-toggle="modal" data-target="#add_modal">
                            <i class="fa fa-plus"></i> Add New 
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="test_scores_body" class="empty_portlet scroller" style="height:400px" data-always-visible="0" data-rail-visible="1" data-rail-color="blue" data-handle-color="red">
                        <span>
                            No test score has been added
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- END PROFILE CONTENT -->
</div>
</div>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<!--
-->
<script src="/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script type="text/javascript">
var user_data = JSON.parse('<%- user_data %>');
var us = <%- user_skills %>;
var user_skills = us==null?[]:us;

var form_building = 
{
    "education":[
    {
        "name": "degree",
        "type": "text" ,
        "placeholder" : "Name of the Degree"
    },
    {
        "name": "institution",
        "type": "text" ,
        "placeholder" : "Name of the Institution"
    },
    {
        "name": "grade",
        "type": "text" ,
        "placeholder" : "Obtained grade"
    },
    {
        "name": "duration_from",
        "type": "date" ,
        "placeholder" : "Atended from"
    },
    {
        "name": "duration_to",
        "type": "date" ,
        "placeholder" : "Attended to"
    },
    ],

    "experience" : [
    {
        "name" : "company",
        "type" : "text",
        "placeholder" : "Name of the company",
    },
    {
        "name": "title",
        "type" : "text",
        "placeholder" : "Title or designation",
    },
    {
        "name": "location",
        "type" : "text",
        "placeholder" : "Job location",
    },
    {
        "name": "period_from",
        "type" : "date",
        "placeholder" : "Job started from",
    },
    {
        "name": "period_to",
        "type" : "date",
        "placeholder" : "Job ended on",
    },
    {
        "name": "details",
        "type" : "text",
        "placeholder" : "Job description",
    },
    ],

    "language": [
    {
        "name": "name",
        "type":"text",
        "placeholder": "Language name"
    },
    {
        "name": "proficiency",
        "type":"text",
        "placeholder": "Proficiency level"
    },
    ],

    "volunteering" : [
    {
        "name" : "organization",
        "type" : "text",
        "placeholder" :" name of the organization"
    },
    {
        "name" : "role",
        "type" : "text",
        "placeholder" : "Your role"
    },
    {
        "name" : "cause",
        "type" : "text",
        "placeholder" : "Cause"
    },
    {
        "name" :"period_from",
        "type" : "date",
        "placeholder" : "Started on"
    },
    {
        "name" : "period_to",
        "type" : "date",
        "placeholder" : "Ended on"
    }
    ],
    "honors":
    [
    {
        "name" : "title",
        "type" : "text",
        "placeholder" : "Award/Honor title"
    },
    {
        "name" : "occupation",
        "type" : "text",
        "placeholder" : "occupation"
    },
    {
        "name" : "issuer",
        "type" : "text",
        "placeholder" : "Issuer"
    },
    {
        "name" : "issued_on",
        "type" : "date",
        "placeholder": "Date issued on"
    },
    ],
    "courses" :[
    {
        "name" : "name",
        "type" : "text",
        "placeholder" : "Name of the course"
    },
    {
        "name" : "association",
        "type" : "text",
        "placeholder" : "Related association"
    },
    {
        "name" : "grade",
        "type" : "text",
        "placeholder" : "Obtained grade"
    },
    {
        "name" : "completed_on",
        "type" : "date",
        "placeholder" : "Course completed on"
    },
    ],
    "publications":[
    {
        "name" : "title",
        "type" : "text",
        "placeholder" : "Title of the publication"
    },
    {
        "name" : "publisher",
        "type" : "text",
        "placeholder" : "Publisher"
    },
    {
        "name" : "published_on",
        "type" : "date",
        "placeholder" : "Publishing date"
    },
    {
        "name" : "url",
        "type" : "text",
        "placeholder" : "Link of the publication"
    },
    {
        "name" : "authors",
        "type" : "text",
        "placeholder" : "Co-athors o fthe publication"
    },
    {
        "name" : "details",
        "type" : "text",
        "placeholder" : "Additional details" 
    },
    ],
    "certifications" :[
    {
        "name" : "name",
        "type" : "text",
        "placeholder" : "Certificate Name"
    },
    {
        "name" : "authority",
        "type" : "text",
        "placeholder" : "Certification authority"
    },
    {
        "name" : "license_number",
        "type" : "text",
        "placeholder" : "License number"
    },
    {
        "name" : "url",
        "type" : "text",
        "placeholder" : "Certificate URL"
    },
    {
        "name" : "issued_on",
        "type" : "date",
        "placeholder" : "Issued On"
    },
    {
        "name" : "expiry_date",
        "type" : "date",
        "placeholder" : "Expires on"
    }
    ],
    "test_scores" :[
    {
        "name" : "name",
        "type" : "text",
        "placeholder" : "Test Name"
    },
    {
        "name" : "issued_by",
        "type" : "text",
        "placeholder" : "Taken By"
    },
    {
        "name" : "score",
        "type" : "text",
        "placeholder" : "Test Score"
    },
    {
        "name" : "issued_on",
        "type" : "date",
        "placeholder" : "Participated On"
    }
    ]
};


$.each(user_skills, function(ind, vl) {
    if(ind=='_id'||ind=='user_id'||ind=='__v')
    {
        return true;
    }
    if(vl.length>0){
        var html = "<table class='table table-hover table-striped'>";
        $.each(vl, function(index, val) {
            html+="<tr >";
            html+="<th style='background-color: #CBE4F8;' colspan='2' class='text-center'>";
            html+=(index+1);
            html+="</th>";
            html+="</tr>";
            $.each(val, function(i, v) {
                html+='<tr>';
                html+="<th class='text-left'>";
                $.each(form_building[ind], function(i2, v2) {
                    if(v2.name==i)
                    {
                        html+=v2.placeholder;
                    }
                });
                html+=" :</th><td class='text-left'>"+v+"</td>";
                html+='</tr>';
            });
            html+="<tr>";
            html+="<th class='text-center' colspan='2'>";
            html+='<div class="mt-action-buttons ">';
            html+='<div class="btn-group btn-group-circle">';
            html+='<button type="button" class="btn btn-outline green btn-sm edit_skills" >Edit</button>';
            html+='<button type="button" class="btn btn-outline red btn-sm delete_skills" id="skills/'+user_skills['_id']+'/'+ind+'/delete/'+index+'">Delete</button>';
            html+='</div>';
            html+='</div>';
            html+="</th>";
            html+="</tr>";
        });
html+="</table>";
$('#'+ind+'_body').removeClass('empty_portlet');
$('#'+ind+'_body').html(html);
}
});


$(document).on('click','.add_trigger',function(event) {
    var type = $(this).attr('id');
    var  html = "";
    $.each(form_building[type], function(index, val) {                    
        html+='<div class="form-group">';
        html+='<label class="col-md-3 control-label">'+val.placeholder+'</label>';
        html+='<div class="col-md-9">';
        html+='<div class="input-group">';
        html+='<span class="input-group-addon">';
        html+='<i class="fa fa-envelope"></i>';
        html+='</span>';
        html+='<input type="'+val.type+'" name="'+val.name+'" class="form-control" placeholder="'+val.placeholder+'"> ';
        html+='</div>';
        html+='</div>';
        html+='</div>';
    });
    
    html+="<input name='id' type='hidden' value='"+user_data._id+"'>";

    $('.add_form_body').html(html);
    // $('#add_modal').modal('show');
    $(".main_title").text(type);
    $(".main_add_form").attr('add-type', type);
});

$(document).on('click', '#save_data', function(event) {
    event.preventDefault();

    var type = $(".main_add_form").attr('add-type');

    var form_data = $('.main_add_form').serializeArray();
    
    $.post('/user/skills/add/'+type,form_data, function(data, textStatus, xhr) {
        var return_data = data;

        var html = "<table class='table table-hover table-striped'>";
        $.each(return_data[type], function(index, val) {
            html+="<tr>";
            html+="<th style='background-color: #CBE4F8;' class='text-center' colspan='2' >";
            html+=(index+1);
            html+="</th>";
            html+="</tr>";
            $.each(val, function(i, v) {
                html+='<tr>';
                html+="<th class='text-left'>"+i+" :</th><td class='text-left'>"+v+"</td>";
                html+='</tr>';
            });
            html+="<tr>";
            html+="<th class='text-center' colspan='2'>";
            html+='<div class="mt-action-buttons ">';
            html+='<div class="btn-group btn-group-circle">';
            html+='<button type="button" class="btn btn-outline green btn-sm edit_skills" >Edit</button>';
            html+='<button type="button" class="btn btn-outline red btn-sm delete_skills" id="skills/'+return_data['_id']+'/'+type+'/delete/'+index+'">Delete</button>';
            html+='</div>';
            html+='</div>';
            html+="</th>";
            html+="</tr>";
        });
html+="</table>";
$("#"+type+"_body").html(html);
});
$('#add_modal').modal('hide');
});
/*
*/
$(document).on('click', '.delete_skills', function(event) {
    event.preventDefault();
    var id = $(this).attr('id');
    var these = $(this);
    $.get('/user/'+id, function(data) {
        these.closest('tr').remove();
    });
});

</script>

<script type="text/javascript">
function easy_pie_chart() {
    if (!jQuery().easyPieChart) {
      console.log("Here");
      return;
  }

  $('.easy-pie-chart .number.transactions').easyPieChart({
      animate: 1000,
      size: 110,
      lineWidth: 10,
      scaleColor:  App.getBrandColor('blue'),
      barColor: App.getBrandColor('yellow')
  });

  $('.easy-pie-chart .number canvas').css('position', 'absolute');
  $('.easy-pie-chart .number canvas').css('left', '-13px');   
  $('.easy-pie-chart .number canvas').css('top', '-15px');   
}

$(document).on('click', '.top_button', function(event) {
    event.preventDefault();
    var id = $(this).attr('scroll-to');
    $('html, body').animate({
        scrollTop: ($('#'+id+"_body").offset().top-150)
    }, 700);
});


jQuery(document).ready(function($) {
    easy_pie_chart();
});
</script>

<div class="modal fade" id="add_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add <span class="main_title"><span></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal main_add_form" role="form" add-type="">
                    <div class="form-body add_form_body">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="save_data" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="info_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span class="main_title">Information on AlphaGrads profile strength<span></h4>
            </div>
            <div class="modal-body">
                <p>
                    It's simply a indicator of the Profile Completeness section, designed to encourage AlphaGrads users to add as much self-curated data as possible.
                </p>
                <p>
                    You can achieve 'Alpha' status by:
                </p>
                <ol class="list-group">
                    <li class="list-group-item">1. Adding a profile photo</li>
                    <li class="list-group-item">2. Listing 2 or more positions you’ve held, in the experience section</li>
                    <li class="list-group-item">3. Having 5 or more different skills on your profile</li>
                    <li class="list-group-item">4. Writing a summary about yourself</li>
                    <li class="list-group-item">5. Filling out the Profile Information Completely</li>
                    <li class="list-group-item">6. Uploading a CV</li>
                    <li class="list-group-item">7. Attending atleast one alpha grads Event</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<%include ./partials/footer.ejs %>

