.mark-success {
  border-right-color: #43ac6a;
}

.mark {
  position: absolute;
  top: -5px;
  left: -1px;
  width: 0;
  height: 0;
  padding: 0;
  border: 8px solid transparent;
  border-left: none;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

small, .small {
  font-size: 85%;
}