<!DOCTYPE html>
<html>
  <head>
    <%include ../partials/header.ejs %>
    <%- css('bootstrap-theme')%>
    <%- css('style') %>
  </head>
  <body>
    <%include ../partials/navigation.ejs %>

    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">

        <h1>
          <span.fa.fa-sign-in> Create Job </span>
        </h1>

        <% if (message.length > 0) { %>
          <div class="alert alert-danger">
            <span> <%= message %> </span>
          </div>
        <% } %>
        <br>
        <br>
        <form class="" action="/job/create" method="post">

          <div class="form-group">
            <label for="title">Title</label>
            <input class = "form-control" type="text" name="title" value="">
          </div>

          <div class="form-group">
            <label for="summary">Summary</label>
            <input class = "form-control" type="text" name="summary" value="">
          </div>

          <div class="form-group">
            <label for="details">Details</label>
            <input class = "form-control" type="text" name="details" value="">
          </div>

          <div class="form-group">
            <label for="qualifications">Qualifications</label>
            <input class = "form-control" type="text" name="qualifications" value="">
          </div>

          <div class="form-group">
            <label for="skills">Skills</label>
            <input class = "form-control" type="text" name="skills" value="">
          </div>

          <div class="form-group">
            <label for="personal_details">Personal Details</label>
            <input class = "form-control" type="text" name="personal_details" value="">
          </div>

          <div class="form-group">
            <label for="location">Location</label>
            <input class = "form-control" type="text" name="location" value="">
          </div>

          <div class="form-group">
            <label for="job_hours">Job Hours</label>
            <input class = "form-control" type="text" name="job_hours" value="">
          </div>

          <div class="form-group">
            <label for="salary_details">Salary Details</label>
            <input class = "form-control" type="text" name="salary_details" value="">
          </div>

          <div class="form-group">
            <label for="appl_url">Application Url</label>
            <input class = "form-control" type="text" name="appl_url" value="">
          </div>

          <div class="form-group">
            <label for="appl_email">Application Email</label>
            <input class = "form-control" type="text" name="appl_email" value="">
          </div>

          <div class="form-group">
            <label for="appl_process">Application Process</label>
            <input class = "form-control" type="text" name="appl_process" value="">
          </div>

          <div class="form-group">
            <label for="closing_date">Closing Date</label>
            <input class = "form-control" type="date" name="closing_date" value="">
          </div>

          <button type="submit" name="submit" class="btn btn-warning"> Submit </button>
        </form>

        <hr>

      </div>
    </div>
    <%include ../partials/footer.ejs %>
  </body>
</html>
